<table id="jobsViewTable" style="width:100%" class="table-striped display compact order-column">
    <thead>
        <tr>
            <th class="jwPerson">Person</th>
            <th class="jwMobile">Mobile</th>
            <th class="jwTime">Time</th>
            <th class="jwEvent">Event</th>
            <th class="jwFunction">Function</th>
            <th class="jwState">State</th>
            <th class="jwComments">Comments</th>
            <th class="jwMove">Move</th>
            <th class="jwHours">Hours</th>
            <th class="jwSelect">Select</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr id=jobRow_{{ job.id }}>
            {% set reason = job.person.occupied({'reasons': true}) %}
            <td class="jwPerson{% if reason %} cc_warn{% endif %}">
            <a href="#" id="popSummary_person_jobs_{{ job.person.id }}" data-toggle="popover" data-html="true" onClick="popSummary('person_jobs', {{ job.person.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-dashboard"></span></a>
            <a href="#" id="popSummary_person_{{ job.person.id }}" data-toggle="popover" data-html="true" onClick="popSummary('person', {{ job.person.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': job.person.id
        }
    %}
    {% if sakonnin_messages.contexthasmessages(mlogcontext) %}
                <a href="#" class="noscrolla" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')"><span style="font-size: 15px" class="glyphicon glyphicon-tasks"></span></a>
    {% endif %}
            {{ job.person }}
    {% if reason %}
        <br>{{ reason.statelabel }}
    {% endif %}
            </td>
            <td class="jwMobile">
                {{ job.person.mobilephonenumber }}
            </td>
            <td class="jwTime">
                {{ job.start | date("H:i") }} -> {{ job.end | date("H:i") }}
            </td>
            <td class="jwEvent">
            <a href="#" id="popSummary_event_{{ job.event.id }}" data-toggle="popover" data-html="true" onClick="popSummary('event', {{ job.event.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
                {{ job.event.name }}
            </td>
            <td class="jwFunction">
                {{ job.function.name }}
            </td>
            <td class="jwState">
                {{ job.statelabel }} {# {% if job.statechanged %}{{ job.statechanged | date('Y-m-d H:i') }}{% endif %} #}
            </td>
            <td class="jwComments">
{% set jobcontext = {
            'message_types': ['JobComment', 'InformCheck'],
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'job',
            'external_id': job.id
    }
%}
{% for note in sakonnin_messages.MessagesForContext(jobcontext) %}
    {{ note.body }}<br>
{% endfor %}
            </td>
            <td class="jwMove">
<select class="move_job_to" name="{{job.id}}">
<option class="cc{{ job.state }}" value="">{{ job.shift }} {{ job.start | date("H:i") }} -> {{ job.end | date("H:i") }}</option>
{% set current_job_id = job.id %}
{% for j in cc_jobs.jobsforperson(job.person, {'from': job.shift.event.start, 'to': job.shift.event.end }) %}
{% if j.id != current_job_id %}
<option class="cc{{ j.state }}" value="{{ j.id }}">{{ j.shift }} {{ j.start | date("H:i") }} {{ j.end | date("H:i") }}</option>
{% endif %}
{% endfor %}
</select>
            </td>
            <td class="jwHours">
            <input size="5" class="jobs_list_hours" type="text" name="jobs_hours_{{ job.id }}" value="" />
            
            </td>
            <td class="jwSelect">
            <input class="jobs_list_checkbox" type="checkbox" name="jobs_list" value="{{ job.id }}" onClick="countJobsList();">
            </td>
        </tr>
    {% endfor %}
    {% for so in shiftorganizations %}
        <tr id=jobRow_so_{{ so.id }}>
            <td class="jwPerson">
            {{ so.organization }}
            </td>
            <td class="jwMobile">
                {{ so.organization.officephonenumber }}
            </td>
            <td class="jwTime">
                {{ so.shift.start | date("Y-m-d H:i") }}
            </td>
                {{ so.shift.start | date("H:i") }} -> {{ so.shift.end | date("H:i") }}
            <td>
            <a href="#" id="popSummary_event_{{ so.shift.event.id }}" data-toggle="popover" data-html="true" onClick="popSummary('event', {{ so.shift.event.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
                {{ so.shift.event.name }}
            </td>
            <td class="jwFunction">
                {{ so.shift.function.name }}
            </td>
            <td class="jwState">
                {{ so.statelabel }}<br>{{ so.amount }} people.
            </td>
            <td class="jwComments">
            &nbsp;
            </td>
            <td class="jwMove">
            &nbsp;
            </td>
            <td class="jwHours">
            &nbsp;
            </td>
            <td class="jwSelect">
            &nbsp;
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="jwPerson">&nbsp;</td>
            <td class="jwMobile">&nbsp;</td>
            <td class="jwTime">&nbsp;</td>
            <td class="jwEvent">&nbsp;</td>
            <td class="jwFunction">{% for function, count in count_by_function %}{{ function }}: {{ count }}<br>{% endfor %}</td>
            <td class="jwState">{% for state, count in count_by_state %}{{ state }}: {{ count }}<br>{% endfor %}</td>
            <td class="jwComments">&nbsp;</td>
            <td class="jwMove">&nbsp;</td>
            <td class="jwHours">&nbsp;</td>
            <td class="jwSelect"><span id="jobs_selected_count">Selected: 0</span></td>
        </tr>
    </tfoot>
 </table>
