<script>

$(document).ready(function() {
{# 
  To be handled by some sort of DataTables configuration later. Consider this ia reminder.
    $( '#jwcheck_Hours' ).attr('checked', false)
    $( '#jwcheck_Time' ).attr('checked', false)
    $( ".jwHours" ).hide();
#}

    $( "#filter_username" ).autocomplete({
      source: "{{ path('person_search', {'access': 'ajax'}) }}",
      minLength: 2,
      select: function( event, ui ) {
        $( "#filter_username" ).val(ui.item.label);
        $( "#filter_userid" ).val(ui.item.userid);
      }
     });
    $( "#filter_event" ).autocomplete({
      source: "{{ path('event_search', {'access': 'ajax'}) }}",
      minLength: 2,
      select: function( event, ui ) {
        $( "#filter_event" ).val(ui.item.label);
        $( "#filter_event_id" ).val(ui.item.id);
      }
     });
})

/*
 * This will be kinda spectacular, maybe.
 * It'll pull a form with all the filtering and grab a new job list
 * based on it.
 */
function grabJobsViewList() {
    bare_url = "{{ path('jobsview_jobs')}}";
    filtersFormData = $( "#filtersForm" ).serialize();
    url = bare_url + "?" + filtersFormData;
    $.get(url, function( data ) {
        $( "#jobsView" ).html(data);
      }).done( function( cont, textStatus, xhr ) {
        $( "#jobsViewTable" ).dataTable({
            order: [[ 1, "asc" ]],
            paging: false,
            searching: true,
            dom: 'Bfrtip',
            buttons: [ 
                {
                    "extend": 'copy',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'excel',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'csv',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'pdf',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                {
                    "extend": 'print',
                    "exportOptions": {
                        "columns": ':visible'
                    }
                },
                'colvis'
            ]
        });
    });
    return false;
}

function countJobsList() {
    list = jwGet_selected_jobs();
    $( "#jobs_selected_count").text("Selected: " + list.length);
}

function select_all_jobs(value) {
    $(".jobs_list_checkbox").prop('checked', value);
    countJobsList();
}

function jwGet_selected_jobs() {
    list = [];
    $(".jobs_list_checkbox").each(function(index, box) {
        if ($(box).prop('checked') == true) {
            list.push(box.value);
        }
    });
    return list;
}

function setStateOnSelectedJobs() {
    url = "{{ path('jobs_state') }}";
    slist = jwGet_selected_jobs();
    state = $( "#jobStateSelect option:selected" ).val();
    data = {'jobs': slist, 'state': state};

    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        data: data,
        type: "POST",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            grabJobsViewList();
      }).fail(function(xhr, status, error) {
            errmsg = "Failed changing state\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function releaseSelectedJobs() {
    url = "{{ path('jobs_release') }}";
    slist = jwGet_selected_jobs();
    data = { 'jobs': slist };

    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        data: data,
        type: "POST",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            grabJobsViewList();
      }).fail(function(xhr, status, error) {
            errmsg = "Failed changing state\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function moveJobs() {
    mlist = {};
    $(".move_job_to option:selected").each(function(index, box) {
        if (box.value > 0) {
            mlist[box.parentNode.name] = (box.value);
        }
    });
    if (!Object.keys(mlist).length) {
        return false;
    }

    url = "{{ path('jobs_move') }}";
    data = {'moves': mlist};
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        data: data,
        type: "POST",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            grabJobsViewList();
      }).fail(function(xhr, status, error) {
            errmsg = "Failed changing state\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function checkChecked(classname)
{
    if ($( "#jwcheck_" + classname ).is(":checked")) {
        $( ".jw" + classname ).show();
    } else {
        $( ".jw" + classname ).hide();
    }
}

function printTableContent()
{
    $("header").hide();
    // This may be a bit specific for my designs,
    document.body.style.paddingTop = "0px";
    $("#jwfilters").hide();
    $("#jobsViewTable_info").hide();
    $("#jobsViewTable_filter").hide();
    $(".jwSelect").hide();
    window.print();
    document.body.style.paddingTop = "";
    $("#jwfilters").show();
    $("#jobsViewTable_info").show();
    $("#jobsViewTable_filter").show();
    $(".jwSelect").show();
    $("header").show();
}

function jwGrabNewJobLogForm(job_id) {
    url = "{{ path('joblog_new', { 'access': 'ajax' }) }}?job=" + job_id;
   
    $.get(url, function( content ) {
        popat = "#addJobLog_"+job_id;
        $( popat ).popover({
            html: true,
            placement: 'left',
            title: 'Add Work  <a href="#" class="close" data-dismiss="alert"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>',
            content: content
        });
        $( popat ).popover("show");
        $( "#crewcallbundle_joblog_job").hide();
        $( "#crewcallbundle_joblog_job").prev().hide();
        $( "#crewcallbundle_joblog_shift").hide();
        $( "#crewcallbundle_joblog_shift").prev().hide();
        $( "#newJobLogForm" ).submit(function( event ) {
            event.preventDefault();
            jwSubmitNewJobLogForm(job_id);
        });
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
    });
    return false;
}

function jwGrabEditJobLogForm(joblog_id, job_id) {
    url = "{{ path('joblog_edit', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', joblog_id);
    $.get(url, function( content ) {
        $( "#editJobLog_"+joblog_id ).popover({
            html: true,
            placement: 'left',
            title: 'Edit <a href="#" class="close" data-dismiss="alert">&times;</a>',
            content: content
        });
        $( "#editJobLog_"+joblog_id ).popover("show");
        $( "#crewcallbundle_joblog_job").hide();
        $( "#crewcallbundle_joblog_job").prev().hide();
        $( "#editJobLogForm" ).submit(function( event ) {
            event.preventDefault();
            jwSubmitEditJobLogForm(joblog_id, job_id);
        });
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
    });
    return false;
}

function jwSubmitNewJobLogForm(job_id) {
    newJobLogFormData = $( "#newJobLogForm" ).serialize();
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('joblog_new', { 'access': 'ajax' }) }}",
        data: newJobLogFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 201) {
                jwGrabJobLogs(job_id)
            } else {
                alert(xhr.responseText);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Failed adding job\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    $( "#editJobLog_"+joblog_id ).popover("show");
    return false;
}

function jwSubmitEditJobLogForm(joblog_id, job_id) {
    editJobLogFormData = $( "#editJobLogForm" ).serialize();
    url = "{{ path('joblog_edit', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', joblog_id);
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: url,
        data: editJobLogFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 200) {
                jwGrabJobLogs(job_id)
            } else {
                alert(xhr.responseText);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Failed saving\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function deleteJobLog(joblog_id, job_id) {
    url = "{{ path('joblog_delete', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', joblog_id);
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "DELETE",
        url: url,
        data: '',
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 200) {
                jwGrabJobLogs(joblog_id, job_id)
            } else {
                alert(xhr.responseText);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Delete failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function jwGrabJobLogs(job_id) {
    url = "{{ path('jobsview_job_joblog', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', job_id);
    $.get(url, function( data ) {
        $( "#jw_joblogs_" + job_id ).html(data);
    });
    return false;
}

</script>
