<link rel="stylesheet" href="{{ asset('public/fullcalendar/dist/fullcalendar.min.css') }}" type="text/css" media="all" />
<script src="{{ asset('public/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('public/fullcalendar/dist/fullcalendar.js') }}"></script>
<script src="{{ asset('public/fullcalendar/dist/gcal.js') }}"></script>
<script src="{{ asset('public/fullcalendar/dist/locale/en-gb.js') }}"></script>

<script>
$(function () {
    $('#calendar').fullCalendar({
        selectable: false,
        editable: false,
        fixedWeekCount: false,
        eventDurationEditable: false,
        weekNumbers: true,
        firstDay: 1,
        navLinks: true,
        timeFormat: 'H(:mm)',
        allDaySlot: false,
        displayEventEnd: true,
        header: {
            left: 'prev, next',
            center: 'title',
            right: 'month, agendaWeek, agendaDay, listWeek'
        },
        lazyFetching: true,
{% if defaultView is defined %}
        defaultView: '{{ defaultview }}',
{% else %}
        defaultView: 'month',
{% endif %}
        /* Not entirely useable. Does not show a whole year, nor months.
        views: {
            basicYear: {
                type: 'basic',
                duration: { months: 12 },
                buttonText: 'Year'
            }
        },
        */
        eventSources: [
            {
                url: '{{ calendar_load_url }}',
                type: 'POST',
                data: {},
                error: function () {}
            }
        ],
        eventRender: function(event, element) {
            element.popover({
                title: event.popup_title,
                content: event.popup_content,
                html: true,
                /* This one ends up with "Error in parsing value for ‘left’.
 * Declaration dropped." And the only reference I found was an 11 yeqars old
 * jQuery bug.
                Neither of these worked.
                container: 'fc-widget-content',
                container: 'calendar',
                container: 'fc-view-container',
                placement: 'auto',
                */
                placement: 'auto top',
                container: 'body'
            });
        }
    });
});
</script>
<div id="calendar"></div>
