<script src="{{ asset('public/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('public/fullcalendar/dist/fullcalendar.js') }}"></script>
<script src="{{ asset('public/fullcalendar/dist/gcal.js') }}"></script>
{% if fullcalendar_locale == "all" %}
<script src="{{ asset('public/fullcalendar/dist/locale-all.js') }}"></script>
{% else %}
<script src="{{ asset('public/fullcalendar/dist/locale/' ~ fullcalendar_locale ~ '.js') }}"></script>
{% endif %}

<script>
$(function () {
    $('#calendar').fullCalendar({
        selectable: false,
        editable: false,
        fixedWeekCount: false,
        eventDurationEditable: false,
        weekNumbers: true,
        firstDay: 1,
        navLinks: true,
        timeFormat: 'H(:mm)',
        allDaySlot: false,
        displayEventEnd: true,
        header: {
            left: 'prev, next',
            center: 'title',
            right: 'month, agendaWeek, agendaDay, listWeek'
        },
        lazyFetching: false,
{% if defaultView is defined %}
        defaultView: '{{ defaultview }}',
{% else %}
        defaultView: 'month',
{% endif %}
        eventSources: [
            {
                url: '{{ calendar_load_url }}',
                type: 'POST',
                data: {},
                error: function () {}
            }
        ],

        eventRender: function(event, element) {
            element.popover({
                html: true,
                content: event.popup_content,
                placement: 'auto top',
                container: 'body',
                trigger: 'click',
                title: event.popup_title + ' <a href="#" class="close" data-dismiss="alert" onClick="return closePopovers();"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>'
            });
        }
    });
/*
 * Internal playground:
        viewRender: function (view, element) {
             $('#calendar').fullCalendar('refetchEvents');
            alert("Rerendered!");
         },
  dayClick: function(date, jsEvent, view) {

            $('#calendar').fullCalendar('gotoDate',date);
            $('#calendar').fullCalendar('changeView','agendaDay');

   }
 */
});

function closePopovers() {
    $( ".popover" ).each(function() {
        $(this).popover('hide');
    });
    return false;
}

</script>
<a href="#" onClick="return closePopovers();">Close popovers</a>
<div id="calendar"></div>
