{% if sakonnin_files.contexthasfiles(filecontext) %}
    <table class="table">
    <thead>
       <tr>
           <th>Name</th>
           <th>Description</th>
           <th>Uploaded</th>
           <th>Actions</th>
       </tr>
   </thead>
    <tbody>
{% for sfile in sakonnin_files.getFilesForContext(filecontext) %}
       <tr>
        <td>
{% if sfile.thumbnailable %}
<img id="img_{{sfile.id}}" data-zoom-image="{{ path('file_view', { 'id': sfile.id }) }}" src="{{ path('uf_file', { 'id': sfile.fileid, 'x': 30, 'y': 30 }) }}">
<script>
$("#img_{{sfile.id}}").ezPlus({
    zoomWindowPosition: 16
});
</script>
{% endif %}
        {{ sfile.name }}
        </td>
        <td>{{ sfile.description }}</td>
        <td>{{ sfile.createdat|date('Y-m-d H:i:s') }}</td>
        <td><a href="{{ path('file_download', { 'id': sfile.id }) }}"><button>Download</button></a>
        {% set delete_form = sakonnin_files.getdeleteform(sfile, {'create_view': true}) %}
        {{ form_start(delete_form)}}
        {{ form_rest(delete_form)}}
        <input type="hidden" name="back" value="{{ app.request.uri }}">
        <input type="submit" name="Delete" value="Delete">
        {{ form_end(delete_form)}}
        </td>
       </tr>
{% endfor %}
   </tbody>
   </table>
{% endif %}
