{% macro list_joblogs(jobloglist) %}
    <table class="table  table-sm">
    <th>What</th><th>In</th><th>Out</th>
    {% for elem in jobloglist %}
    <tr>
    <td>{{ elem.shift }}</td>
    <td>{{ elem.in | date("Y-m-d H:i") }}</td>
    <td>{{ elem.out | date("Y-m-d H:i") }}</td>
    </tr>
    {% endfor %}
    </table>
{% endmacro %}
<table class="table  table-sm">
    <tr>
    <th>Hours this week</th>
    <td>{{ summary.week_hours }}</td>
    </tr>
    <tr>
    <th>Hours last 7 days</th>
    <td>{{ summary.l7days_hours }}</td>
    </tr>
    <tr>
    <th>Hours this month</th>
    <td>{{ summary.month_hours }}</td>
    </tr>
    <tr>
    <th>Hours this year</th>
    <td>{{ summary.year_hours }}</td>
    </tr>
    <tr>
    <th>Hours last year</th>
    <td>{{ summary.last_year_hours }}</td>
    </tr>
    </table>
{% import _self as jlmacros %}
<h3>Job Log</h3>
{{ jlmacros.list_joblogs(joblogs) }}

<h3>State changes</h3>
<table class="table  table-sm">
<th>What</th><th>From</th><th>To</th><th>Days</th>
{% for elem in person.states %}
<tr>
<td>{{ elem.state }}</td>
<td>{% if elem.fromdate is not null %}{{ elem.fromdate | date("Y-m-d") }}{% else %}&nbsp;{% endif %}</td>
<td>{% if elem.todate is not null %}{{ elem.todate | date("Y-m-d") }}{% else %}&nbsp;{% endif %}</td>
<td>{{ elem.days }}</td>
</tr>
{% endfor %}
</table>
