<table id="crew_table" class="table table-hover table-sm" data-order='[[ 0, "asc" ]]'>
<thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Functions</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Status</th>
        <th class="selectcol"></th>
    </tr>
</thead>
<tbody>
{% for person in people %}
    <tr>
        <td style="white-space:nowrap;" data-order="{{ person.username }}"><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.username }}</a></td>
        <td style="white-space:nowrap;" data-order="{{ person.lastname }}"><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.fullname }}</a></td>
        <td>
            {% for f in person.functions(function_type) %} {{ f.name }},{% endfor %}</td>
        <td>{{ person.mobilephonenumber }}</td>
        <td>{{ person.email }}</td>
        <td>
        {{ person.statelabel(on_date) }}
        </td>
{#
        <td>
          <a href="{{ path('person_show', { 'id': person.id }) }}">Show</a> - 
          <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
        }
    %}
{% if sakonnin_messages.contexthasmessages(mlogcontext) %}
    <br><a href="#" onClick="return openSakonninMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a>
{% endif %}
        </td>
#}
        <td> {{ person.id }} </td>
    </tr>
{% endfor %}
</tbody>
</table>
