<table id="crew_table" class="table table-hover table-sm" data-order='[[ 0, "asc" ]]'>
<thead>
    <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th class="selectcol"></th>
    </tr>
</thead>
<tbody>
{% for person in people %}
    <tr>
        <td style="white-space:nowrap;" data-order="{{ person.lastname }}"><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.fullname }}</a></td>
        <td>{{ person.mobilephonenumber }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.id }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
