{% extends 'base.html.twig' %}

{% block body %}
    {% if functionEntity is defined %}
    <h1>People with {{ functionEntity }}</h1>
    {% else %}
    <h1>People</h1>
    {% endif %}
    <p><a href="{{ path('person_new') }}"><button class="btn btn-primary">Create a new person</button></a></p>

        <table id="sortable_table" class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Mobile</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.username }}</a></td>
                <td>{{ person.fullname }}</td>
                <td>{% if person.dateofbirth %}{{ person.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                <td>{{ person.mobilephonenumber }}</td>
                <td>{{ person.state }}</td>
                <td>
                  <a href="{{ path('person_show', { 'id': person.id }) }}">Show</a></br>
                  <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
            {% set mlogcontext = {
                        'system': 'crewcall',
                        'object_name': 'person',
                        'external_id': person.id
                }
            %}
{% if sakonnin_messages.contexthasmessages(mlogcontext) %}
            <br><a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a>
{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
