{% extends 'base.html.twig' %}
{% block title %}People{% endblock %}

{% macro select_list(elem_list, prep = "") %}
{% import _self as self %}
    {% for elem in elem_list %}
            <option value="{{ elem.id }}">{{ prep | raw }}{{ elem.name }}</option>
        {% if elem.children %}
            {% set foo = prep ~ '&nbsp; - ' %}
                {{ self.select_list(elem.children, foo) }}
        {% endif %}
    {% endfor %}
{% endmacro select_list %}
{% import _self as fmacros %}

{% block body %}
<script>
function select_all_persons(value) {
    $(".person_list_checkbox").prop('checked', value);
}

function get_selected_persons() {
    list = [];
    $(".person_list_checkbox").each(function(index, box) {
        if ($(box).prop('checked') == true) {
            list.push(box.value);
        }
    });
    return list;
}
</script>

    {% if functionEntity is defined %}
    <h1>People with {{ functionEntity }}</h1>
    {% else %}
    <h1>People</h1>
    {% endif %}
<table border="0">
<tr>
<!--
<td>
    <a href="{{ path('person_new') }}"><button class="btn btn-primary">Create a new person</button></a>
</td>
-->
<td>
   <form action="{{ path('person_function') }}" method="GET">
<select name="function">
    {{ fmacros.select_list(functions) }}
</select>
</td>
<td>
    <button class="btn btn-default" type="submit">Filter</button>
    </form>
</td>
</tr>
</table>

        <table id="sortable_table" class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Mobile</th>
                <th>State</th>
                <th>Actions</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.username }}</a></td>
                <td>{{ person.fullname }}</td>
                <td>{% if person.dateofbirth %}{{ person.dateofbirth|date('Y-m-d') }}{% endif %}</td>
                <td>{{ person.mobilephonenumber }}</td>
                <td {% if person.occupied({'reasons': true}) %}class="cc_warn"{% endif %}>
                {{ person.state }}
                </td>
                <td>
                  <a href="{{ path('person_show', { 'id': person.id }) }}">Show</a> - 
                  <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
            {% set mlogcontext = {
                        'system': 'crewcall',
                        'object_name': 'person',
                        'external_id': person.id
                }
            %}
{% if sakonnin_messages.contexthasmessages(mlogcontext) %}
            <br><a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a>
{% endif %}
                </td>
                <td>
                        <input class="person_list_checkbox" type="checkbox" name="person_list" value="{{ person.id }}">
                </td>
            </tr>
        {% endfor %}
<tr border="0">
<td colspan="5" border="0">&nbsp;</td>
<td colspan="2" border="0" halign="right">
<div align=right>
<button class="dababutton" onClick="select_all_persons(true);">Select all</button>
<button class="dababutton" onClick="select_all_persons(false);">Deselect all</button>
</br>
<button class="dababutton" id="message_popover_link" onClick="openMessagePopover(false);">Send a message</button>
</div>
<div align=right>
</td>
</tr>

        </tbody>
    </table>

<div id="message_popover" class="hidden">
<form id="person_list_form" method="POST">
<table>
<tr>
<td>
<textarea name="body" cols="20" rows="4"></textarea>
</td>
<td>
<input type="radio" value="BULKALL" name="message_type" CHECKED>SMS, Email, PM</input><br>
<input type="radio" value="BULKSMS" name="message_type">SMS only</input><br>
<input class="dababutton" id="sendmessage" type="submit" name="submit" value="Send">
</td>
</tr>
</table>
</form>
</div>

<script>

function openMessagePopover() {
    content = $("#message_popover").html();
    $( "#message_popover_link" ).popover({
        html: true,
        placement: 'top',
        title: 'Send Message <a href="#" class="close" data-dismiss="alert">&times;</a>',
        content: content
    });
    $( "#message_popover_link" ).popover("show");
    $("#person_list_form").submit(function( event ) {
        var $btn = $(document.activeElement);
        list = get_selected_persons();
        $(".person_list_form_plist").remove();
        list.map(function(value) {
            $("#person_list_form").append('<input class="person_list_form_plist" type="hidden" name="person_list[]" value="'+value+'">');
        });
        if ($btn.is('[id]') && $btn.attr("id") == "sendmessage") {
            postdata = $("#person_list_form").serialize();
            $.ajax({
                type: "POST",
                url: "{{ path('persons_send_message') }}",
                data: postdata,
                success: function(data)
                {
                    alert(data);
                    select_all_persons(false);
                    $( "#message_popover_link" ).popover("hide");
                }
            });
        }
        event.preventDefault();
    });
    $(document).on("click", ".popover .close" , function(){
        $( "#message_popover_link" ).popover("hide");
    });
}
</script>
{% endblock %}
