{% extends 'base.html.twig' %}
{% block body %}

<script>

function grabFunctionPicker() {
    url = "{{ path('function_picker', {'access': 'ajax' }) }}";
    $.get(url, function( data ) {
        $( "#personRight" ).html(data);
    }).done(function() {
        $( "#functionTable" ).dataTable({
            "order": [[ 1, "asc" ]],
            "paging": false,
            "searching": false
            });
        $( ".sfList" ).hide();
    });
    return false;
}

function pickedFunction(function_id) {
    var person_function = {};
    person_function.person_id   = {{ person.id }};
    person_function.function_id = function_id;
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('personfunction_new', { 'access': 'ajax' }) }}",
        /*
        data: $.param(person_function),
        dataType: "json",
        */
        data: person_function,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 201) {
                parent.location.reload();
            } else {
                alert("Something successfully didn't happen." + textStatus);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Message sending failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function grabPersonFunctionForm() {
    old_html = $( "#newShift" ).html();
    url = "{{ path('shift_new', { 'access': 'ajax' }) }}";
    if (event_id) {
        url = url + "?event=" + event_id;
    }
    $.get(url, function( data ) {
        $( "#newShift" ).html(data);
        /* My JS-fu is bad. I'm quite sure I should be able to set the
         * submitNewShiftForm function directly, but then it woule be called
         * immediately.  Aka, I have to read up on this..
         */
        $( "#newShiftForm" ).submit(function( event ) {
            event.preventDefault();
            submitNewShiftForm(event_id);
        });
    });
    return false;
}

</script>

<div class="col-sm-5" id="personLeft">
    <h1>{{ person.username }}</h1>

    <table class="showTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>{% if person.dateofbirth %}{{ person.dateofbirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Mobile phone number</th>
                <td>{{ person.mobilephonenumber }}</td>
            </tr>
            <tr>
                <th>Home phone number</th>
                <td>{{ person.homephonenumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    {{ person.address }}
                </td>
            </tr>
            <tr>
                <th>Postal Address</th>
                <td>
                    {{ person.postaladdress }}
                </td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ person.state }}</td>
            </tr>
            <tr>
                <th>Attributes</th>
                <td>{{ person.attributes | prettyprint }}</td>
            </tr>
            <tr>
                <th>Functions</th>
                <td>
                <ul>
                {% for f in person.personfunctions %}
                <li>{{ f }}</li>
                {% endfor %}
                </ul>
                <a href="#" onClick="grabFunctionPicker();">Add function
                </td>
            </tr>
            <tr>
                <th>Organizations</th>
                <td>
                <ul>
                {% for pfo in person.personfunctionorganizations %}
                <li>{{ pfo.organization }} ({{ pfo.function }})</li>
                {% endfor %}
                </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {% set mconf = {'mconfig': {
                    'subject': "",
                    'to_field': false,
                    'from_field': false,
                    'message_type': 'Note',
                    'context': {
                        'system': 'crewcall',
                        'object_name': 'person',
                        'external_id': person.id
                        }
                    }
                }
            %}
            {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
            <a href="#" onClick="createMessage()">Add a note</a><br />
        </li>
            {% set mlogcontext = {
                        'system': 'crewcall',
                        'object_name': 'person',
                        'message_type': 'Note',
                        'external_id': person.id
                }
            %}
{% if sakonnin.contexthasmessages(mlogcontext) %}
        <li>
            <a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a>
        </li>
{% endif %}
        <li>
            <a href="{{ path('person_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('person_change_password', { 'id': person.id }) }}">Change Password</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
<div class="col-sm-7" id="personRight">
</div>
{% endblock %}
