{% extends 'base.html.twig' %}
{% block title %}{{ person.fullname }}{% endblock %}
{% block body %}

{% include 'CrewCallBundle:job:handling.html.twig' %}
{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true } %}
{% include 'CrewCallBundle:person:handling.html.twig' %}

<div class="col-sm-4" id="personLeft">
    {% set ppcontext = {
                'file_type': 'ProfilePicture',
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
        }
    %}
{% set profile_pictures = sakonnin_files.getFilesForContext(ppcontext) %}
{% if profile_pictures | length > 0 %}
{% set pfile = profile_pictures.0 %}
<img id="img_{{pfile.id}}" src="{{ path('file_thumbnail', { 'id': pfile.fileid, 'x': 100, 'y': 100 }) }}">
{% else %}
    {% set sfconf = {'sfconfig': {
            'file_type': "ProfilePicture",
            'description': "ProfilePicture",
            'formname': 'profile_upload',
            'reload_after_post': true,
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:SakonninFile:_create_popup.html.twig' with sfconf %}
          <a href="#" onClick="return uploadFile('profile_upload');">Add profile picture</a><br />
{% endif %}
    <h1>
    <a href="#" id="message_modal_link" onClick="return openMessageModal({{ person.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-comment"></span></a>
    {{ person.fullname }}
    </h1>
    <h4>{{ person.statelabel }}</h4>
    <table class="showTable">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ person.username }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>{% if person.dateofbirth %}{{ person.dateofbirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Diets</th>
                <td>{{ person.dietslabels | join(", ")}}</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Mobile phone number</th>
                <td>{{ person.mobilephonenumber }}</td>
            </tr>
            <tr>
                <th>Home phone number</th>
                <td>{{ person.homephonenumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cc_addressing.compose(person.address, 'html') | raw }}</td>
            </tr>
{% if person.postaladdress is empty %}
            <tr>
                <th>Postal Address</th>
                <td>{{ cc_addressing.compose(person.postaladdress, 'html') | raw }}</td>
            </tr>
{% endif %}
{% if person.personfunctionorganizations | length > 0 or person.personfunctionlocations | length > 0 %}
            <tr>
                <th>Roles</th>
                <td>
                {% for pfo in person.personfunctionorganizations %}
                {{ pfo }}<br>
                {% endfor %}
                {% for pfl in person.personfunctionlocations %}
                {{ pfl }}<br>
                {% endfor %}
                </ul>
                </td>
            </tr>
{% endif %}
{% if person.personfunctionevents | length > 0 %}
            <tr>
                <th>Events</th>
                <td>
                {% for pfe in person.personfunctionevents %}
                {{ pfe.event }} ({{ pfe.function }})<br>
                {% endfor %}
                </ul>
                </td>
            </tr>
{% endif %}
            <tr>
                <th>Can log into CrewCall</th>
                <td>
                {% if person.enabled %}
                    Yes{% if "ROLE_ADMIN" in person.roles %}, as admin.{% endif %}
                {%else%}
                    No
                {%endif%}</td>
            </tr>
            <tr>
                <th>Functions</th>
                <td>
                {% for f in person.personfunctions %}
                {{ f }}<br>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Attributes</th>
                <td>{{ person.attributes | prettyprint }}</td>
            </tr>
            <tr>
                <th>
                    <a href="#" title="Logs" id="popLogSummary_person_{{ person.id }}" onClick="return popLogSummary('person', {{ person.id }});" class="btn btn-sm btn-dark">Changelog</a>
                    <br>
                    <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-sm btn-dark">Edit</a>
                    <br>
                    <a href="{{ path('person_reset_password', { 'id': person.id }) }}" class="btn btn-sm btn-dark">Send Password reset mail</a>
                    <br>
                    {{ form_start(delete_form) }}
                    <input  class="btn btn-sm btn-danger" type="submit" value="Delete">
                    <br>
                    {{ form_end(delete_form) }}
                </th>
                <td>&nbsp;</td>
        </tbody>
    </table>
</div>
<div class="col-sm-8" id="personRight">

<div id="rightTabMenu">
    <ul class="nav nav-tabs">
    <li class="active">
    <a href="#jobstab" data-toggle="tab">Jobs</a>
    </li>
    <li>
    <a href="#caltab" data-toggle="tab">Calendar</a>
    </li>
    <li>
    <a href="#notestab" data-toggle="tab">Notes / Messages</a>
    </li>
    <li>
    <a href="#filestab" data-toggle="tab">Files</a>
    </li>
    <li>
    <a href="#functab" data-toggle="tab" onClick="return grabFunctionPickerTab();">Manage functions</a>
    </li>
<!--
    <li>
    <a href="#orgstab" data-toggle="tab"  onClick="return grabOrganizationPickerTab();">Manage organizations</a>
    </li>
-->
    <li>
    <a href="#hourstab" data-toggle="tab"  onClick="return grabJobLogSummary();">Hours</a>
    </li>
    <li>
    <a href="#absencetab" data-toggle="tab"  onClick="return grabJobLogSummary();">Absence</a>
    </li>
    </ul>

<div class="tab-content ">
  <div class="tab-pane active" id="jobstab">
{% set jobs = cc_jobs.jobsforperson(person, {'all': true, 'from': 'now'}) %}
    <table class="table table-striped  table-sm">
    <thead class="thead-inverse">
        <tr>
            <th>Event</th>
            <th>When</th>
            <th>What</th>
            <th>Response</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        {% set shift = job.shift %}
        <tr>
            <td>
            <a href="#" title="Event Summary" id="popSummary_event_{{ job.event.id }}" onClick="return popSummary('event', {{ job.event.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
            {{ shift.event }}
            </td>
        {% set overjobs = cc_jobs.checkoverlapforperson(job, {'same_day': true, 'booked_only': true, 'return_jobs': true }) %}
        {% if overjobs | length > 0 %}
<div id="overlap_popover_content_{{ job.id }}" class="hidden">
{% for ojob in overjobs %}
{{ ojob.shift }} ({{ ojob.statelabel }} {{ ojob.shift.start|date('H:i') }} -> {{ ojob.shift.end|date('H:i') }})<br>
{% endfor %}
</div>
            {% if job.booked %}
            <td class="ccError" data-order="{{ shift.start | date('U')}}" >
            {% else %}
            <td class="ccWarn" data-order="{{ shift.start | date('U')}}" >
            {% endif %}
            <a href="#" title="Overlapping Jobs" id="overlap_popover_{{ job.id }}" onClick="return popOverlap({{ job.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-warning-sign"></span></a>
        {% else %}
            <td data-order="{{ shift.start | date('U')}}" >
        {% endif %}
                {{ shift.start|date('d M H:i') }}
                <span class="glyphicon glyphicon-arrow-right"></span> 
                {%  if shift.end | date('Y-m-d') == shift.start | date('Y-m-d') %}
                {{ shift.end|date('H:i') }}
                {% else %}
                    {{ shift.end | date('d M H:i') }}
                {% endif %}
            </td>
            <td>{{ shift.function }}</td>
            <td>{{ job.statelabel }}
{# No reason to add confirm check here, it's kinda explicist 
                'message_types': ['JobComment', 'ConfirmCheck', 'InformCheck'], #}
{% set jobcontext = {
            'message_types': ['JobComment', 'InformCheck'],
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'job',
            'external_id': job.id
    }
%}
{% for note in sakonnin_messages.MessagesForContext(jobcontext) %}
    {{ note.createdAt | date('Y-m-d') }}: <pre>{{ note.body }}</pre>
{% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  <!-- TODO: Make this click-loadable as with the functab -->
  <div class="tab-pane" id="caltab">
    <br>
{% set calendar_load_url = path('person_calendar', {'id': person.id, 'access': 'ajax'}) %}
{% include 'CrewCallBundle::_calendar.html.twig' with { 'calendar_load_url': calendar_load_url}  %}
  </div>

  <div class="tab-pane" id="notestab">
    <p>
    {% set mconf = {'mconfig': {
            'formname': 'adminpersonnote',
            'reload_after_post': true,
            'subject': "",
            'to_type': "NONE",
            'from_type': "NONE",
            'expire_field': false,
            'message_type': 'PersonNote',
            'submit': 'Save',
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
        <a href="#" onClick='return createMessage("adminpersonnote");'>Add a note to the crew member (PersonNote)</a><br />
    </p>
{% set mlogcontext = {
            'message_group': 'Notes',
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'person',
            'external_id': person.id
    }
%}

    <p>
    {% set mconf = {'mconfig': {
            'formname': 'adminadminnote',
            'reload_after_post': true,
            'subject': "",
            'to_type': "NONE",
            'from_type': "NONE",
            'expire_field': false,
            'message_type': 'AdminNote',
            'submit': 'Save',
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
        <a href="#" onClick='return createMessage("adminadminnote");'>Add a note for Admins only (AdminNote)</a><br />
    </p>
{% set mlogcontext = {
            'message_group': 'Notes',
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'person',
            'external_id': person.id
    }
%}
{% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
    <strong>{{ note.subject }}</strong> ({{ note.state | capitalize }} {{ note.messagetype }} by {{ note.createdBy }} at {{ note.createdAt | date('Y-m-d') }}) {% if note.expireat %}Expires {{ note.expireat | date('Y-m-d') }}{% endif %}
    <pre>{{ note.body }}</pre>
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(note, true) %}
    <form method="POST" action="{{ path('message_delete', { 'id': note.id, 'access': 'web' }) }}">
    <a href="#" onClick="return grabEditMessageForm({{ note.id }});"><span class="edit_glyph"></span></a>
    {{ form_start(mdelform) }}
    {{ form_rest(mdelform) }}
    <button type="submit" class="btn btn-link">
    <span class="glyphicon glyphicon-trash"></span>
    </button>
    </form>
{% endfor %}
  </div>

  <div class="tab-pane" id="filestab">
    <p>
    {% set sfconf = {'sfconfig': {
            'file_type': "AUTO",
            'formname': 'file_upload',
            'reload_after_post': true,
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:SakonninFile:_create_popup.html.twig' with sfconf %}
      <a href="#" onClick="return uploadFile('file_upload');">Add a file</a><br />
    </p>
    {% set filecontext = {
        'system': 'crewcall',
        'object_name': 'person',
        'external_id': person.id
      } %}
    {% include 'CrewCallBundle::_files.html.twig' with filecontext %}
  </div>

  <div class="tab-pane" id="functab">
  </div>

<!--
  <div class="tab-pane" id="orgstab">
    <p>To be done</p>
  </div>
-->

  <div class="tab-pane" id="hourstab">
  </div>

  <div class="tab-pane" id="absencetab">
    <p>
    <div id="change_state_popover" class="hidden">
    <a href="#" id="stateChangeLink" onClick="return openStateChange();" class="btn btn-sm btn-dark">Add</a><br>
    </div>
    </p>

    <table class="table  table-sm">
    <th>What</th><th>From</th><th>To</th><th>Days</th>
    {% for pstate in person.states if pstate.state != "ACTIVE" %}
    <tr>
    <td>{{ pstate.statelabel }}</td>
    <td>{% if pstate.fromdate is not null %}{{ pstate.fromdate | date("Y-m-d") }}{% else %}&nbsp;{% endif %}</td>
    <td>{% if pstate.todate is not null %}{{ pstate.todate | date("Y-m-d") }}{% else %}&nbsp;{% endif %}</td>
    <td>{{ pstate.days }}</td>
    </tr>
    {% endfor %}
    </table>

    <h3>Add</h3>
    {{ form(state_form) }}

   </div>

  </div>
</div>

<!--

Until I need to reuse, i'll be lazy and keep'em here.

-->
<script>

function grabFunctionPickerTab() {
    if ($( "#functab div" ).length > 1) {
        return false;
    }
    url = "{{ path('function_picker', {'access': 'ajax' }) }}?person_id={{ person.id }}";
    $.get(url, function( data ) {
        $( "#functab" ).html(data);
    }).done(function() {
        $( ".sfList" ).hide();
    });
    return false;
}

function grabOrganizationPickerTab() {
    return false;

    /* Guess the TODO */
    if ($( "#orgstab div" ).length > 1) {
        return false;
    }
    url = "{{ path('function_picker', {'access': 'ajax' }) }}?person_id={{ person.id }}";
    $.get(url, function( data ) {
        $( "#orgstab" ).html(data);
    }).done(function() {
        $( ".sfList" ).hide();
    });
    return false;
}

function grabJobLogSummary() {
    if ($( "#hourstab div" ).length > 1) {
        return false;
    }
    url = "{{ path('joblog_person', {'access': 'ajax', 'id': person.id }) }}";
    $.get(url, function( data ) {
        $( "#hourstab" ).html(data);
    }).done(function() {
        $( ".sfList" ).hide();
    });
    return false;
}

function pickedFunction(function_id) {
    var person_function = {};
    person_function.person_id   = {{ person.id }};
    person_function.function_id = function_id;
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('personfunction_new', { 'access': 'ajax' }) }}",
        /*
        data: $.param(person_function),
        dataType: "json",
        */
        data: person_function,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 201) {
                parent.location.reload();
            } else {
                alert("Something successfully didn't happen." + textStatus);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Failed adding fiunction\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function openStateChange() {
    content = $("#change_state_popover").html();
    $( "#stateChangeLink" ).popover({
        html: true,
        placement: 'bottom',
        title: 'Status change <a href="#" class="close" data-dismiss="alert">&times;</a>',
        content: content
    });
    $( "#stateChangeLink" ).popover("show");
    $(document).on("click", ".popover .close" , function(){
        $(this).parents(".popover").popover('hide');
    });
}

</script>

{% endblock %}
