{% extends 'base.html.twig' %}
{% block title %}{{ person.fullname }}{% endblock %}
{% block body %}

{% include 'CrewCallBundle:job:handling.html.twig' %}
{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true } %}
<script>

function grabFunctionPickerTab() {
    if ($( "#functab div" ).length > 1) {
        return false;
    }
    url = "{{ path('function_picker', {'access': 'ajax' }) }}?person_id={{ person.id }}";
    $.get(url, function( data ) {
        $( "#functab" ).html(data);
    }).done(function() {
        $( ".sfList" ).hide();
    });
    return false;
}

function grabOrganizationPickerTab() {
    return false;

    /* Guess the TODO */
    if ($( "#orgstab div" ).length > 1) {
        return false;
    }
    url = "{{ path('function_picker', {'access': 'ajax' }) }}?person_id={{ person.id }}";
    $.get(url, function( data ) {
        $( "#orgstab" ).html(data);
    }).done(function() {
        $( ".sfList" ).hide();
    });
    return false;
}

function grabJobLogSummary() {
    if ($( "#hourstab div" ).length > 1) {
        return false;
    }
    url = "{{ path('joblog_person', {'access': 'ajax', 'id': person.id }) }}";
    $.get(url, function( data ) {
        $( "#hourstab" ).html(data);
    }).done(function() {
        $( ".sfList" ).hide();
    });
    return false;
}

function pickedFunction(function_id) {
    var person_function = {};
    person_function.person_id   = {{ person.id }};
    person_function.function_id = function_id;
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('personfunction_new', { 'access': 'ajax' }) }}",
        /*
        data: $.param(person_function),
        dataType: "json",
        */
        data: person_function,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 201) {
                parent.location.reload();
            } else {
                alert("Something successfully didn't happen." + textStatus);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Failed adding fiunction\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function openStateChange() {
    content = $("#change_state_popover").html();
    $( "#stateChangeLink" ).popover({
        html: true,
        placement: 'left',
        title: 'State change <a href="#" class="close" data-dismiss="alert">&times;</a>',
        content: content
    });
    $( "#stateChangeLink" ).popover("show");
    $(document).on("click", ".popover .close" , function(){
        $(this).parents(".popover").popover('hide');
    });
}

</script>

<div id="change_state_popover" class="hidden">
{{ form(state_form) }}
</div>

<div class="col-sm-4" id="personLeft">
    <h1>{{ person.fullname }}</h1>

    <table class="showTable">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ person.username }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>{% if person.dateofbirth %}{{ person.dateofbirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Diets</th>
                <td>{{ person.dietslabels | join(", ")}}</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Mobile phone number</th>
                <td>{{ person.mobilephonenumber }}</td>
            </tr>
            <tr>
                <th>Home phone number</th>
                <td>{{ person.homephonenumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    {{ person.address }}
                </td>
            </tr>
            <tr>
                <th>Postal Address</th>
                <td>
                    {{ person.postaladdress }}
                </td>
            </tr>
            <tr>
                <th>State</th>
                <td>
                {% for state in person.states({'last_and_next': true}) %}
                {{ state.state }}
                {% if state.fromdate %}{{ state.fromdate | date('Y-m-d') }}{% endif %}
                ->
                {% if state.todate %}{{ state.todate | date('Y-m-d') }}{% endif %}
                <br>
                {% endfor %}
<a href="#" id="stateChangeLink" onClick="openStateChange();">Add</a><br>
                </td>
            </tr>
            <tr>
                <th>Attributes</th>
                <td>{{ person.attributes | prettyprint }}</td>
            </tr>
            <tr>
                <th>System roles</th>
                <td>{{ person.roles | join(', ') }}</td>
            </tr>
            <tr>
                <th>Login Enabled</th>
                <td>{% if  person.enabled %}Yes{%else%}No{%endif%}</td>
            </tr>
            <tr>
                <th>Functions</th>
                <td>
                {% for f in person.personfunctions %}
                {{ f }}<br>
                {% endfor %}
                </td>
            </tr>
{% if person.personfunctionorganizations | length > 0 %}
            <tr>
                <th>Organizations</th>
                <td>
                {% for pfo in person.personfunctionorganizations %}
                {{ pfo.organization }} ({{ pfo.function }})<br>
                {% endfor %}
                </ul>
                </td>
            </tr>
{% endif %}
{% if person.personfunctionevents | length > 0 %}
            <tr>
                <th>Events</th>
                <td>
                {% for pfe in person.personfunctionevents %}
                {{ pfe.event }} ({{ pfe.function }})<br>
                {% endfor %}
                </ul>
                </td>
            </tr>
{% endif %}
            <tr>
                <th>
                    <a href="#" id="popLogSummary_person_{{ person.id }}" data-toggle="popover" data-html="true" onClick="popLogSummary('person', {{ person.id }});"> Changes </a><br>
                    <br>
                    <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
                    <br>
                    <a href="{{ path('person_reset_password', { 'id': person.id }) }}">Send Password reset mail</a>
                    <br>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    <br>
                    {{ form_end(delete_form) }}
                </th>
                <td>&nbsp;</td>
        </tbody>
    </table>
</div>
<div class="col-sm-8" id="personRight">

<div id="rightTabMenu">
    <ul class="nav nav-tabs">
    <li class="active">
    <a href="#jobstab" data-toggle="tab">Jobs</a>
    </li>
    <li>
    <a href="#caltab" data-toggle="tab">Calendar</a>
    </li>
    <li>
    <a href="#notestab" data-toggle="tab">Notes / Messages</a>
    </li>
    <li>
    <a href="#filestab" data-toggle="tab">Files</a>
    </li>
    <li>
    <a href="#functab" data-toggle="tab" onClick="grabFunctionPickerTab();">Manage functions</a>
    </li>
<!--
    <li>
    <a href="#orgstab" data-toggle="tab"  onClick="grabOrganizationPickerTab();">Manage organizations</a>
    </li>
-->
    <li>
    <a href="#hourstab" data-toggle="tab"  onClick="grabJobLogSummary();">Hours</a>
    </li>
    </ul>

<div class="tab-content ">
  <div class="tab-pane active" id="jobstab">
{% set jobs = cc_jobs.jobsforperson(person, {'all': true, 'from': 'now'}) %}
    <table class="table table-striped  table-sm">
    <thead class="thead-inverse">
        <tr>
            <th>Event</th>
            <th>Start</th>
            <th>End</th>
            <th>What</th>
            <th>Response</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        {% set shift = job.shift %}
        {% set c_class = "" %}
        {% if job.overlap %}
            {% set c_class = "cc_warn" %}
        {% endif %}
        <tr>
            <td>
            {{ job.id }}
            {{ job.overlap }}
            <a href="#" id="popSummary_event_{{ job.event.id }}" data-toggle="popover" data-html="true" onClick="popSummary('event', {{ job.event.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
            {{ shift.event }}
            </td>
            <td class="{{ c_class }}" data-order="{{ shift.start | date('U')}}" >{% if shift.start %}{{ shift.start|date('d M H:i') }}{% endif %}</td>
            <td class="{{ c_class }}" data-order="{{ shift.end | date('U')}}" >{% if shift.end %}{{ shift.end|date('d M H:i') }}{% endif %}</td>
            <td>{{ shift.function }}</td>
            <td>{{ job.state }}</td>
            <td>
            {% if not job.booked %}
                {% if job.state != "ASSIGNED" %}
              <a role="button" class="btn-sm btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'ASSIGNED', {{ job.shift.id }});">Assign</a>
                {% endif %}
              <a role="button" class="btn-sm btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn-sm btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'DENIED', {{ job.shift.id }});">Deny</a>
            {% else %}
              <a role="button" class="btn-sm btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Release</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  <!-- TODO: Make this click-loadable as with the functab -->
  <div class="tab-pane" id="caltab">
    <br>
{% set calendar_load_url = path('person_calendar', {'id': person.id, 'access': 'ajax'}) %}
{% include 'CrewCallBundle::_calendar.html.twig' with { 'calendar_load_url': calendar_load_url}  %}
  </div>

  <div class="tab-pane" id="notestab">
    <p>
    {% set mconf = {'mconfig': {
            'formname': 'adminpersonmessage',
            'reload_after_post': true,
            'subject': "",
            'to_type': "NONE",
            'from_type': "NONE",
            'message_type': 'PersonNote',
            'submit': 'Save',
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
        <a href="#" onClick='createMessage("adminpersonmessage");'>Add a note for person</a><br />
    {% set mconf = {'mconfig': {
            'formname': 'adminpersonnote',
            'reload_after_post': true,
            'subject': "",
            'to_type': "NONE",
            'from_type': "NONE",
            'expire_field': false,
            'message_type': 'AdminNote',
            'submit': 'Save',
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
        <a href="#" onClick='createMessage("adminpersonnote");'>Add a note for admins</a><br />
    {% set mconf = {'mconfig': {
            'formname': 'importansnote',
            'reload_after_post': true,
            'subject': "",
            'to_type': "NONE",
            'from_type': "NONE",
            'expire_field': true,
            'message_type': 'ImportantNote',
            'submit': 'Save',
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
        <a href="#" onClick='createMessage("adminpersonnote");'>Add an <strong>important</strong> note for admins</a><br />
    </p>
{% set mlogcontext = {
            'message_group': 'Notes',
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'person',
            'external_id': person.id
    }
%}
{% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
    <strong>{{ note.subject }}</strong> ({{ note.messagetype }} by {{ note.createdBy }} at {{ note.createdAt | date('Y-m-d') }}). {% if note.expireat %}Expires {{ note.expireat | date('Y-m-d') }}{% endif %}
    <pre>{{ note.body }}</pre>
    <a href="#" onClick='grabEditMessageForm({{ note.id }});'><button>Edit</button></a>
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(note, true) %}
    <form method="POST" action="{{ path('message_delete', { 'id': note.id, 'access': 'web' }) }}">
    {{ form_start(mdelform) }}
    {{ form_rest(mdelform) }}
    <input class="dabatdbutton" type="submit" name="submit" value="Delete">
    </form>
{% endfor %}
  </div>

  <div class="tab-pane" id="filestab">
    <p>
    <br/>
    {% set sfconf = {'sfconfig': {
            'context': {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:SakonninFile:_create_popup.html.twig' with sfconf %}
          <a href="#" onClick="uploadFile(); return false;">Add a document or image</a><br />
        </p>
    {% set filecontext = {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': person.id
        }
    %}
    {% include 'CrewCallBundle::_files.html.twig' with filecontext %}
  </div>
  <div class="tab-pane" id="functab">
  </div>
<!--
  <div class="tab-pane" id="orgstab">
    <p>To be done</p>
  </div>
-->
  <div class="tab-pane" id="hourstab">
  </div>

  </div>
</div>
{% endblock %}
