{% macro list_joblogs(job) %}
    <table class="table  table-sm">
    <th>In</th><th>Out</th><th>Break</th><th>Time</th><th>&nbsp;</th>
    {% for elem in job.joblogs %}
    <tr>
    <td>{{ elem.in | date("Y-m-d H:i") }}</td>
    <td>{{ elem.out | date("Y-m-d H:i") }}</td>
    <td>{{ elem.breakminutes }}</td>
    <td>{{ elem.workedtime }}</td>
    <td>
    <a href="#!" id="editJobLog_{{ elem.id }}" data-html="true" onClick="return grabEditJobLogForm({{ elem.id }}, {{ elem.job.shift.id }});"><span class="edit_glyph"></span></a>
    <a href="#!" id="deleteJobLog_{{ elem.id }}" data-html="true" onClick="return deleteJobLog({{ elem.id }}, {{ elem.job.shift.id }});"><span class="remove_glyph"></span></a>
    </td>
    </tr>
    {% endfor %}
    <tr>
    <td colspan="3">
        &nbsp;
    </td>
    <td>
        {{ job.workedtime }}   
    </td>
    <td>
       <a role="button" class="btn-sm btn-primary" href="#" id="addJobLog_{{ job.id }}" data-html="true" onClick="return grabNewJobLogForm({{ job.id }}, {{ job.shift.id }});">Add Hours</a>
    </td>
    </tr>
    </table>
{% endmacro %}
{% import _self as jlmacros %}

{% if jobs.count > 0 %}
<table id="jobTable" class="table table-striped table-sm">
    <thead class="thead-inverse">
        <tr>
            <th class="no-sort">
{#
            <input onClick="return select_all_jobs({{ shift.id }}, this);" class="select_all_persons_checkbox" type="checkbox" name="select_all">
#}
            &nbsp;
            </th>
            <th>Name</th>
            <th>Status</th>
{% set shift_checks = cc_jobs.checksForShift(shift) %}
{% for check in shift_checks if check.messagetype == "InformCheck" %}
    <th class="no-sort">{{ check.body }}</th>
{% endfor %}
            <th>Comments</th>
            <th class="no-sort">&nbsp;</th>
            <th class="no-sort">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
        {% set overjobs = cc_jobs.checkoverlapforperson(job, {'same_day': true, 'booked_only': true, 'return_jobs': true }) %}
        {% if overjobs | length > 0 %}
<div id="overlap_popover_content_{{ job.id }}" class="hidden">
{% for ojob in overjobs %}
{{ ojob.shift }} ({{ ojob.statelabel }} {{ ojob.shift.start|date('H:i') }} -> {{ ojob.shift.end|date('H:i') }})<br>
{% endfor %}
</div>
            {% if job.booked %}
            <td class="ccError" data-order="{{ shift.start | date('U')}}" >
            {% else %}
            <td class="ccWarn" data-order="{{ shift.start | date('U')}}" >
            {% endif %}
            <input class="job_list_checkbox_{{ shift.event.id }}" type="checkbox" name="job_list" value="{{ job.id }},{{ job.person.id }}">
            <a href="#" title="Overlapping Jobs" id="overlap_popover_{{ job.id }}" onClick="return popOverlap({{ job.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-warning-sign"></span></a>
        {% else %}
            <td>
            <input class="job_list_checkbox_{{ shift.event.id }}" type="checkbox" name="job_list" value="{{ job.id }},{{ job.person.id }}">
        {% endif %}
            <a href="#" title="Person Summary" id="popSummary_person_{{ job.person.id }}{{ job.id}}" onClick="return popSummary('person', {{ job.person.id }},{{ job.id}});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
            <a href="#" title="Jobs" id="popSummary_person_jobs_{{ job.person.id }}{{ job.id }}" onClick="return popPersonJobs({{ job.person.id }}, {{ job.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-dashboard"></span></a>
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': job.person.id
        }
    %}
    {% if sakonnin_messages.contexthasmessages(mlogcontext) %}
            <a href="#" title="Messages and Notes" onClick="return openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')"><span style="font-size: 15px" class="glyphicon glyphicon-envelope"></span></a>
    {% endif %}
          </td>
            {% set reason = job.person.occupied({'reasons': true}) %}
            <td {% if reason %}class="ccWarn"{% endif %}>
            {{ job.person }}
    {% if reason %}
        <br>{{ reason.0.statelabel }}
    {% endif %}
            </td>
            <td>
            <a href="#" title="Log Summary" id="popLogSummary_job_{{ job.id }}" onClick="return popLogSummary('job', {{ job.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span></a>
                {{ job.statelabel }}
{# Better be a selectbox or just not at jobs at all, just event or shift.
            {% if job.shift.start < date() %}
                <br><a role="button" class="btn-sm btn-primary" href="#" onClick="return setStateOnJob({{shift.id}}, 'COMPLETED', {{ job.shift.id }});">Complete</a>
            {% endif %}
#}
            </td>
{% set ijobcontext = {
            'message_types': ['InformCheck'],
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'job',
            'external_id': job.id
    }
%}
{% set job_checks = cc_jobs.checksForJob(job) %}
{% for shift_check in shift_checks if shift_check.messagetype == "InformCheck" %}
  <td>
    {% for job_check in job_checks if job_check.messagetype == "InformCheck" %}
        {% if job_check.state == "CHECKED" and job_check.inreplyto.id == shift_check.id %}
            <span style="font-size: 15px" class="glyphicon glyphicon-ok"></span>
        {% else %}
            &nbsp;
        {% endif %}
    {% else %}
    &nbsp;
    {% endfor %}
 </td>
{% endfor %}
            <td id="jobCommentTable_{{ job.id }}">
{% set cjobcontext = {
            'message_types': ['JobComment'],
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'job',
            'external_id': job.id
    }
%}
    {% if sakonnin_messages.contexthasmessages(cjobcontext) %}
       <a href="#" onClick="return openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': cjobcontext.system, 'object_name': cjobcontext.object_name, 'external_id': cjobcontext.external_id }) }}')"><span style="font-size: 15px" class="glyphicon glyphicon-comment"></span></a>
    {% else %}
        &nbsp;
    {% endif %}
            </td>
            <td id="jobLogTable_{{ job.id }}" align="right">
            {% if job.shift.start < date() %}
                {% if job.joblogs | length > 0  %}
                     {{ jlmacros.list_joblogs(job) }}
                {% elseif job.booked  %}
                    <a role="button" class="btn-sm btn-primary" href="#" id="addJobLog_{{ job.id }}" data-html="true" onClick="return grabNewJobLogForm({{ job.id }}, {{ job.shift.id }});">Add Hours</a>
                {% else %}
                    &nbsp;
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
            </td>
            <td id="buttons_{{ job.id }}" align="right">
            {% if job.state == "CONFIRMED" %}
              <a role="button" class="btn-sm btn-danger" href="#" onClick="return setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Unassign</a>
            {% elseif job.state == "ASSIGNED" %}
              <a role="button" class="btn-sm ccConfirmed" href="#" onClick="return setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn-sm btn-danger" href="#" onClick="return setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Unassign</a>
            {% else %}
              <a role="button" class="btn-sm ccConfirmed" href="#" onClick="return setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn-sm ccAssigned" href="#" onClick="return setStateOnJob({{job.id}}, 'ASSIGNED', {{ job.shift.id }});">Assign</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
 </table>
{#
<div align="left">
<button class="btn btn-sm btn-dark" id="message_modal_link" onClick="return openMessageToJobsModal({{ shift.id }});">Send a message</button>

</div>
#}
{% endif %}
{% if sos.count > 0 %}
<table id="shiftOrgTable" class="table  table-sm">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for so in sos %}
          <tr>
            <td>{{ so.organization }}</td>
            <td>{{ so.amount }}</td>
            <td>{{ so.statelabel }}
            <a href="#" title="Logs" id="popLogSummary_shiftorganization_{{ so.id }}" onClick="return popLogSummary('shiftorganization', {{ so.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span></a>
            </td>
            <td>
              <a role="button" class="btn-sm btn-danger" href="#" onClick="return deleteShiftOrganization({{so.id}});">Delete</a>
              <a role="button" class="btn-sm btn-success" href="#" onClick="return grabEditShiftOrganizationForm({{ so.id }});">Edit</a>
            </td>
          </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
