<table id="jobTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Person</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td>
            {{ job.person }}
{% set mlogcontext = {
            'system': 'crewcall',
            'object_name': 'person',
            'external_id': job.person.id
    }
%}
{% if sakonnin_messages.contexthasmessages(mlogcontext) %}
            &nbsp;(<a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a>)
{% endif %}
            </td>
            <td>{{ job.state }}</td>
            <td>
            {% if not job.booked %}
                {% if job.state != "ASSIGNED" %}
              <a role="button" class="btn btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'ASSIGNED', {{ job.shift.id }});">Assign</a>
                {% endif %}
              <a role="button" class="btn btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'DENIED', {{ job.shift.id }});">Deny</a>
            {% else %}
              <a role="button" class="btn btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Release</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if sos.count > 0 %}
        </tbody>
        <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for so in sos %}
          <tr>
            <td>{{ so.organization }}</td>
            <td>{{ so.amount }}</td>
            <td>
              <a role="button" class="btn btn-danger" href="#" onClick="deleteShiftOrganization({{so.id}});">Delete</a>
            </td>
          </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
