{% include 'CrewCallBundle:joblog:handling.html.twig' %}
{% macro list_joblogs(jobloglist) %}
    <table class="table  table-sm">
    <th>In</th><th>Out</th>
    {% for elem in jobloglist %}
    <tr>
    <td>{{ elem.in | date("Y-m-d H:i") }}</td>
    <td>{{ elem.out | date("Y-m-d H:i") }}</td>
    <td>
    <a href="#" id="editJobLog_{{ elem.id }}" data-html="true" onClick="grabEditJobLogForm({{ elem.id }}, {{ elem.job.shift.id }});">Edit</a><br>
    <a href="#" id="deleteJobLog_{{ elem.id }}" data-html="true" onClick="deleteJobLog({{ elem.id }}, {{ elem.job.shift.id }});">Delete</a><br>
    </td>
    </tr>
    {% endfor %}
    </table>
{% endmacro %}
{% import _self as jlmacros %}

{% if jobs.count > 0 %}
<table id="jobTable" class="table table-striped table-sm">
    <tbody>
    {% for job in jobs %}
        <tr>
            {% set reason = job.person.occupied({'reasons': true}) %}
            <td {% if reason %}class="cc_warn"{% endif %}>
            <a href="#" id="popSummary_person_jobs_{{ job.person.id }}" data-toggle="popover" data-html="true" onClick="popSummary('person_jobs', {{ job.person.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-dashboard"></span></a>
            <a href="#" id="popSummary_person_{{ job.person.id }}" data-toggle="popover" data-html="true" onClick="popSummary('person', {{ job.person.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': job.person.id
        }
    %}
    {% if sakonnin_messages.contexthasmessages(mlogcontext) %}
                <a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')"><span style="font-size: 15px" class="glyphicon glyphicon-tasks"></span></a>
    {% endif %}
            {{ job.person }}
    {% if reason %}
        <br>{{ reason.state }}
    {% endif %}
            </td>
            <td>
                {{ job.state }}
{% set jobcontext = {
            'message_types': ['JobComment', 'InformCheck'],
            'order': 'DESC',
            'system': 'crewcall',
            'object_name': 'job',
            'external_id': job.id
    }
%}
{% for note in sakonnin_messages.MessagesForContext(jobcontext) %}
    <br>{{ note.createdAt | date('d M') }}: <pre>{{ note.body }}</pre>
{% endfor %}
            {% if job.shift.start < date() %}
{# Better be a selectbox or just not at jobs at all, just event or shift.
                <br><a role="button" class="btn-sm btn-primary" href="#" onClick="setStateOnJob({{shift.id}}, 'COMPLETED', {{ job.shift.id }});">Complete</a>
#}
            </td>
                <td id="jobLogTable_{{ job.id }}">
                {% if job.joblogs | length > 0  %}
                     {{ jlmacros.list_joblogs(job.joblogs) }}
                {% else %}
                    &nbsp;
                {% endif %}
                {% if job.booked  %}
                    <a role="button" class="btn-sm btn-primary" href="#" id="addJobLog_{{ job.id }}" data-html="true" onClick="grabNewJobLogForm({{ job.id }}, {{ job.shift.id }});">Add Hours</a>
                {% endif %}
                </td>
            {% else %}
            </td>
            {% endif %}
            <td>
            {% if job.state == "CONFIRMED" %}
              <a role="button" class="btn-sm btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Unassign</a>
            {% elseif job.state == "ASSIGNED" %}
              <a role="button" class="btn-sm ccConfirmed" href="#" onClick="setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn-sm btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Unassign</a>
            {% else %}
              <a role="button" class="btn-sm ccConfirmed" href="#" onClick="setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn-sm ccAssigned" href="#" onClick="setStateOnJob({{job.id}}, 'ASSIGNED', {{ job.shift.id }});">Assign</a>
            {% endif %}
            <a href="#" id="popLogSummary_job_{{ job.id }}" data-toggle="popover" data-html="true" onClick="popLogSummary('job', {{ job.id }});"> Changes </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
 </table>
{% endif %}
{% if sos.count > 0 %}
<table id="shiftOrgTable" class="table  table-sm">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for so in sos %}
          <tr>
            <td>{{ so.organization }}</td>
            <td>{{ so.amount }}</td>
            <td>{{ so.state }}</td>
            <td>
              <a role="button" class="btn-sm btn-danger" href="#" onClick="deleteShiftOrganization({{so.id}});">Delete</a>
            </td>
          </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
    <div id="newShiftOrganization_{{ shift.id }}">
    </div>
    <div id="newJob{{ shift.id }}">
    </div>
