{% include 'CrewCallBundle:joblog:handling.html.twig' %}
{% macro list_joblogs(jobloglist) %}
    <table class="table table-bordered table-sm">
    <th>In</th><th>Out</th>
    {% for elem in jobloglist %}
    <tr>
    <td>{{ elem.in | date("Y-m-d H:i") }}</td>
    <td>{{ elem.out | date("Y-m-d H:i") }}</td>
    <td>
    <a href="#" id="editJobLog_{{ elem.id }}" data-html="true" onClick="grabEditJobLogForm({{ elem.id }}, {{ elem.job.shift.id }});">Edit</a><br>
    <a href="#" id="deleteJobLog_{{ elem.id }}" data-html="true" onClick="deleteJobLog({{ elem.id }}, {{ elem.job.shift.id }});">Delete</a><br>
    </td>
    </tr>
    {% endfor %}
    </table>
{% endmacro %}
{% import _self as jlmacros %}

{% if jobs.count > 0 %}
<table id="jobTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Person</th>
            <th>State</th>
            {% if shift.end < date() %}
                <th>Time Sheet</th>
            {% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td>
            <a href="#" id="popSummary_person_{{ job.person.id }}" data-toggle="popover" data-html="true" onClick="popSummary('person', {{ job.person.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
            {{ job.person }}
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'person',
                'external_id': job.person.id
        }
    %}
    {% if sakonnin_messages.contexthasmessages(mlogcontext) %}
                &nbsp;(<a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a>)
    {% endif %}
            </td>
            <td>{{ job.state }}</td>
            {% if job.shift.end < date() %}
                <td id="jobLogTable_{{ job.id }}">
                {% if job.joblogs | length > 0  %}
                     {{ jlmacros.list_joblogs(job.joblogs) }}
                {% else %}
                    &nbsp;
                {% endif %}
                    <a href="#" id="addJobLog_{{ job.id }}" data-html="true" onClick="grabNewJobLogForm({{ job.id }}, {{ job.shift.id }});">Add</a><br>
                </td>
            {% endif %}
            <td>
            {% if not job.booked %}
                {% if job.state != "ASSIGNED" %}
              <a role="button" class="btn btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'ASSIGNED', {{ job.shift.id }});">Assign</a>
                {% endif %}
              <a role="button" class="btn btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shift.id }});">Confirm</a>
              <a role="button" class="btn btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'DENIED', {{ job.shift.id }});">Deny</a>
            {% else %}
              <a role="button" class="btn btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'INTERESTED', {{ job.shift.id }});">Release</a>
            {% endif %}
            <br><a href="#" id="popLogSummary_job_{{ job.id }}" data-toggle="popover" data-html="true" onClick="popLogSummary('job', {{ job.id }});"> Edit History </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
 </table>
{% endif %}
{% if sos.count > 0 %}
<table id="shiftOrgTable" class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for so in sos %}
          <tr>
            <td>{{ so.organization }}</td>
            <td>{{ so.amount }}</td>
            <td>
              <a role="button" class="btn btn-danger" href="#" onClick="deleteShiftOrganization({{so.id}});">Delete</a>
            </td>
          </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
