<table id="jobTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Person</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{{ job.person }}</td>
            <td>{{ job.state }}</td>
            <td>
              <a role="button" class="btn btn-success" href="#" onClick="setStateOnJob({{job.id}}, 'CONFIRMED', {{ job.shiftfunction.id }});">Confirm</a>
              <a role="button" class="btn btn-danger" href="#" onClick="setStateOnJob({{job.id}}, 'DENIED', {{ job.shiftfunction.id }});">Deny</a>
            </td>
        </tr>
    {% endfor %}
    {% if sfos.count > 0 %}
        </tbody>
        <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sfo in sfos %}
          <tr>
            <td>{{ sfo.organization }}</td>
            <td>{{ sfo.amount }}</td>
            <td>
                &nbsp;
            </td>
          </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
