<script>

function grabJobList(shift_id) {
    url = "{{ path('job_index', {'access': 'ajax' }) }}" 
        + "?shift=" + shift_id;
    $.get(url, function( data ) {
        $( "#jobTable_" + shift_id ).html(data);
        $( "#jobList_" + shift_id ).show();
        $( "#plus_job_list_" + shift_id ).hide();
        $( "#minus_job_list_" + shift_id ).show();
    });
    return false;
}

function hideJobList(shift_id) {
    $( "#jobList_" + shift_id ).hide();
    $( "#plus_job_list_" + shift_id ).show();
    $( "#minus_job_list_" + shift_id ).hide();
    return false;
}

function setStateOnJob(job_id, state, shift_id) {
    cheat_url = "{{ path('job_state', { 'id': 0, 'state': 'NONE', 'access': 'ajax' }) }}";
    c_url = cheat_url.replace("0", job_id);
    url = c_url.replace("NONE", state);
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "POST",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
        // Gotta recount
        parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "Warning!\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
            grabJobList(shift_id);
    });
    return false;
}

function grabNewJobForm(shift_id) {
    url = "{{ path('job_new', { 'access': 'ajax' }) }}";
    if (shift_id) {
        url = url + "?shift=" + shift_id;
    }
    $.get(url, function( data ) {
        $( "#jobModalBody" ).html(data);
        $( "#jobModalTitle" ).html("Add Person on job");
        $( "#newJobForm #crewcallbundle_job_shift").prev().hide();
        $( "#newJobForm #crewcallbundle_job_shift").hide();
        $( "#newJobForm").submit(function( event ) {
            event.preventDefault();
            submitNewJobForm(shift_id);
        });
        $( "#newJobForm #crewcallbundle_job_person" ).autocomplete({
          source: "{{ path('person_search', {'enabled': true, 'access': 'ajax','value_with_all': true }) }}",
          minLength: 2,
          select: function( event, ui ) {
            $( "#newJobForm #crewcallbundle_job_person" ).val(ui.item.value);
            $( "#newJobForm #username" ).val(ui.item.username);
          }
         });
        $( "#jobModal" ).modal('show');
        $( "#newJobForm #crewcallbundle_job_person" ).autocomplete("option", "appendTo", "#newJobForm");
    });
    return false;
}

function submitNewJobForm(shift_id) {
    username = $( "#newJobForm #username" ).val();
    $( "#newJobForm #crewcallbundle_job_person" ).val(username);
    newJobFormData = $( "#newJobForm" ).serialize();
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('job_new', { 'access': 'ajax' }) }}",
        data: newJobFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            if (xhr.status == 201) {
                // Gotta reload. Easiest way to recount everything.
                parent.location.reload();
            } else {
                $( "#jobModalBody" ).html(xhr.responseText);
            }
      }).fail(function(xhr, status, error) {
            errmsg = "Failed adding new job\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function popPersonJobs(person_id, job_id) {
    url = "{{ path('summary_person_jobs_job', {'access': 'ajax' }) }}?job=" + job_id;
    var popelement = "#popSummary_person_jobs_" + person_id + job_id;

    res = $.ajax({
            url: url,
            type: 'GET',
            dataType: 'html'
      }).done( function( contenthtml, textStatus, xhr ) {
        $( popelement ).popover({
            delay: 500,
            html: true,
            placement: "auto top",
            content: contenthtml,
            title: 'Jobs <a href="#" class="close" data-dismiss="alert"><span style="font-size: 15px" class="glyphicon glyphicon-remove-circle"></span></a>'
        });
        $( popelement ).popover("show");
        $(document).on("click", ".popover .close" , function(){
            $(this).parents(".popover").popover('hide');
        });
      }).fail( function( ) {
        alert("Error grabbing summary");
      });
    return false;
}

function select_all_jobs(shift_id, value) {
    if (typeof(value) !== "boolean") {
        value = $(value).prop('checked');
    }
    $(".job_list_checkbox_" + shift_id).prop('checked', value);
}

function get_selected_jobs(shift_id) {
    list = [];
    $(".job_list_checkbox_" + shift_id).each(function(index, box) {
        if ($(box).prop('checked') == true) {
            values = box.value.split(",");
            list.push(values[0]);
        }
    });
    return list;
}

function get_selected_persons(shift_id) {
    list = [];
    $(".job_list_checkbox_" + shift_id).each(function(index, box) {
        if ($(box).prop('checked') == true) {
            values = box.value.split(",");
            list.push(values[1]);
        }
    });
    return list;
}

function openMessageModal(shift_id) {
    content = $("#message_modal").html();
    $( "#jobModalTitle" ).html('Send Message');
    $( "#jobModalBody" ).html(content);
    $( "#jobModal" ).modal();

    $("#job_list_message_form").submit(function( event ) {
        var $btn = $(document.activeElement);
        list = get_selected_persons(shift_id);
        $(".job_list_message_form_plist").remove();
        list.map(function(value) {
            $("#job_list_message_form").append('<input class="job_list_message_form_plist" type="hidden" name="person_list[]" value="'+value+'">');
        });
        if ($btn.is('[id]') && $btn.attr("id") == "sendmessage") {
            postdata = $("#job_list_message_form").serialize();
            $.ajax({
                type: "POST",
                url: "{{ path('persons_send_message') }}",
                data: postdata,
                success: function(data)
                {
                    alert(data);
                    /* select_all_jobs(shift_id, false); */
                    $( "#jobModal" ).modal("hide");
                }
            });
        }
        event.preventDefault();
    });
}

</script>

<div class="modal fade" id="jobModal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title" id="jobModalTitle"></h4>
      </div>
      <div class="modal-body" id="jobModalBody">
      </div>
    </div>
  </div>
</div> <!-- / modal -->

<div id="message_modal" class="hidden">
    <form id="job_list_message_form" method="POST">
    <textarea name="body" cols="20" rows="4"></textarea>
    <input type="hidden" value="BULKSMS" name="message_type">
    <input class="btn btn-sm btn-dark" id="sendmessage" type="submit" name="submit" value="Send">
    </form>
</div>
