{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-sm-6">
    <h1>Locations</h1>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1" style="margin-top: 10px;">
    <a href="{{ path('location_new') }}" class="btn btn-sm btn-dark">New Location</a>
    </div>
    </div>

        <table id="sortable_table" class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="{{ path('location_show', { 'id': location.id }) }}">{{ location.name }}</a></td>
                <td>{{ cc_addressing.compose(location, 'line') }}</td>
                <td>{{ location.description }}</td>
                <td>{{ location.statelabel }}</td>
                <td>
                 <a href="{{ path('location_show', { 'id': location.id }) }}">show</a><br>
                 <a href="{{ path('location_edit', { 'id': location.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
