{% extends 'base.html.twig' %}

{% block title %}{{ location }}{% endblock %}
{% block body %}
{% include '@CrewCall/location/handling.html.twig' %}
<div class="row">
  <div class="col-sm-3">
    {% if location.parent %}
        <h1>
        <a href="{{ path('location_show', {'id': location.parent.id}) }}">{{ location.parent }}</a> -> {{ location.name }}
        </h1>
    {% else %}
        <h1>{{ location.name }}</h1>
    {% endif %}

    <table class="showTable">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ location.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ location.description }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ location.phonenumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cc_addressing.compose(location, 'html') | raw }}</td>
            </tr>
            {% if location.children | length > 0 %}
            <tr>
                <th>Sublocations</th>
                <td>
                {% for child in location.children %}
                    <a href="{{ path('location_show', {'id': child.id}) }}">{{ child.name }}</a><br>
                {% endfor %}
                </td>
            </tr>
            {% endif %}
{% if location.contexts | length > 0 %}
            <tr>
                <th>External pointers</th>
                <td>
                {% for context in location.contexts %}
                    {% if context.url is not empty %}
                        <a href="{{ context.url }}">{{ context.label }}</a>: {{ context.externalid }}<br>
                    {% else %}
                        {{ context.label }}: {{ context.externalid }}<br>
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
{% endif %}
        {% if not location.parent %}
        <tr>
        </tr>
        {% endif %}
        <tr>
          <th>
            <a href="{{ path('location_new', {'parent': location.id}) }}" class="btn-sm btn-dark">New sub location</a>
            <br>
            <a tabindex="0" href="#" title="Location Summary" id="popLogSummary_location_{{ location.id }}" onClick="return popLogSummary('location', {{ location.id }});" class="btn-sm btn-dark">Changelog</a>
            <br>
            <a href="{{ path('location_edit', { 'id': location.id }) }}" class="btn-sm btn-dark">Edit</a>
            <br>
{% if location.deleteable %}
            {{ form_start(delete_form) }}
                <input class="btn-sm btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </th>
        <td>&nbsp</td>
        </tr>
{% endif %}
        </tbody>
    </table>
</div>

<div class="col-sm-9 tabbable" id="eventRight">
  <ul id="tabRight" class="nav nav-tabs">
  <li class="nav-item locationEventsTab">
  <a class="nav-link active" href="#eventstab" data-toggle="tab">Events</a>
  </li>
  <li class="nav-item organizationContactInfoTab">
  <a class="nav-link" href="#contactinfotab" data-toggle="tab">Contact Info</a>
  </li>
  <li class="nav-item locationNotesTab">
  <a class="nav-link" href="#notestab" data-toggle="tab">Notes</a>
  </li>
  <li class="nav-item locationFilesTab">
  <a class="nav-link" href="#filestab" data-toggle="tab">Files</a>
  </li>
  <li class="nav-item locationPeopleTab">
  <a class="nav-link" href="#peopletab" data-toggle="tab">People</a>
  </li>
  </ul>

<div class="tab-content">
    <div class="tab-pane active locationEventsTab" id="eventstab">
    {% include '@CrewCall/event/_index.html.twig' with { 'events': location.events('ASC'), 'sorted': true, 'past': true, 'upcoming': false } %}
    </div>

   <div class="tab-pane locationContactInfoTab" id="contactinfotab">
     <div class="loc_contactinfo">
        <p>
        {% set ciconf = { 'mconfig': {
                'formname': 'loc_contactinfo_form',
                'reload_after_post': true,
                'subject': "",
                'to_field': false,
                'from_field': false,
                'message_type': 'Contact Info',
                'context': {
                    'system': 'crewcall',
                    'object_name': 'location',
                    'external_id': location.id
                    }
                }
            }
        %}
        {% include '@BisonLabSakonnin/Message/_create_popup.html.twig' with ciconf %}
        <a href="#" onClick='return createSakonninMessage("loc_contactinfo_form");'>Add Contact Info</a><br />
        </p>
     </div>
        {% set mlogcontext = {
                    'system': 'crewcall',
                    'object_name': 'location',
                    'message_type': 'Contact Info',
                    'external_id': location.id
            }
        %}
        {% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
            {% include '@CrewCall/_note.html.twig' %}
        {% endfor %}
  </div><!-- End Contact Info Tab -->

   <div class="tab-pane locationNotesTab" id="notestab">
     <div class="loc_adminnote">
        <p>
        {% set mconf = { 'mconfig': {
                'formname': 'locationnote',
                'reload_after_post': true,
                'subject': "",
                'to_field': false,
                'from_field': false,
                'message_type': 'AdminNote',
                'context': {
                    'system': 'crewcall',
                    'object_name': 'location',
                    'external_id': location.id
                    }
                }
            }
        %}
        {% include '@BisonLabSakonnin/Message/_create_popup.html.twig' with mconf %}
        <a href="#" onClick='return createSakonninMessage("locationnote");'>Add a note for admins</a><br />
        </p>
     </div>
        {% set mlogcontext = {
                    'system': 'crewcall',
                    'object_name': 'location',
                    'message_type': 'AdminNote',
                    'external_id': location.id
            }
        %}
        {% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
            {% include '@CrewCall/_note.html.twig' %}
        {% endfor %}
    </div>

  <div class="tab-pane locationFilesTab" id="filestab">
    <br>
    {% set sfconf = {'sfconfig': {
            'file_type': "AUTO",
            'reload_after_post': true,
            'context': {
                'system': 'crewcall',
                'object_name': 'location',
                'external_id': location.id
                }
            }
        }
    %}
    {% include '@BisonLabSakonnin/SakonninFile/_create_popup.html.twig' with sfconf %}
    <p>
      <a href="#" onClick="return uploadSakonninFile();">Add a file</a><br />
    </p>
    {% set filecontext = {
        'system': 'crewcall',
        'object_name': 'location',
        'external_id': location.id
        }
    %}
    {% include '@CrewCall/_files.html.twig' with filecontext %}
  </div>

  <div class="tab-pane locationPeopleTab" id="peopletab">
    <br>
    <div id="addExistingPerson" style="float: left">
    <p>
    <a href="#" onClick="return grabAddExistingPersonForm();" class="btn-sm btn-dark">Add person</a>
    </div>
    </p>

    <table id="apTable" class="sortable_table table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for person in location.people %}
        <tr>
        <td>
            <a href="{{ path('person_show', { 'id': person.id }) }}">
            {{ person }}
            </a>
        </td>
        <td>{{ person.email }}</td>
        <td>{{ person.mobilephonenumber }}</td>
        <td>
            {% for pro in person.personroles(location) %}
            {{pro.role }}
            <a href="{{ path('location_remove_person', { 'id':pro.id }) }}"><span class="remove_glyph"></span></a><br>
            {% endfor %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
 </div>
{% include '@Custom/location/_custom_tabcontent.html.twig' ignore missing %}
  </div><!-- tab-content -->
 </div><!-- Tabbable -->
</div><!-- End Row -->
{% endblock %}
