{% extends 'base.html.twig' %}

{% block title %}Frontend development{% endblock %}
{% block body %}

<a href="#" onClick="return grabMeProfile();"><button>Profile</button> </a>
<a href="#" onClick="return grabMeJobs();"><button>Jobslist</button> </a>
<a href="#" onClick="return grabJobLog();"><button>Job logs</button> </a>
<a href="#" onClick="return grabFileslist();"><button>Files</button> </a>
<a href="#" onClick="return grabMePassword();"><button>Password Form</button> </a>
<a href="#" onClick="return grabNotesArchive();"><button>Notes Archive</button> </a>
<a href="#" onClick="return hitMe();"><button>Log to console</button> </a>
<pre id="playpart">
</pre>

<div id="playparthtml">
</div>

<p id="confbuttons">
</p>

<p id="signupbuttons">
</p>

<p id="cancelbuttons">
</p>

<script>

confbuttons = $("#confbuttons");
confurl = '';
conftoken = '';
signupbuttons = $("#signupbuttons");
signupurl = '';
signuptoken = '';
cancelbuttons = $("#cancelbuttons");
cancelurl = '';
canceltoken = '';

function createConfirmButton(item, index) {
    url = confurl.replace('ID', item['id']);
    form =
        '<form action="' + url + '" method="POST">'
        + '<input type="hidden" name="_csrf_token" value="' + conftoken + '">'
        + '<input type="submit" value="Confirm ' + item['name'] + '">'
        + '</form>';
    confbuttons.html(confbuttons.html() + form);
    console.log(confbuttons.html());
}

function createSignupButton(item, index) {
    url = signupurl.replace('ID', item['id']);
    form =
        '<form action="' + url + '" method="POST">'
        + '<input type="hidden" name="_csrf_token" value="' + signuptoken + '">'
        + '<input type="submit" value="I want ' + item['name'] + '">'
        + '</form>';
    signupbuttons.html(signupbuttons.html() + form);
    console.log(signupbuttons.html());
}

function createCancelButton(item, index) {
    url = cancelurl.replace('ID', item['id']);
    form =
        '<form action="' + url + '" method="POST">'
        + '<input type="hidden" name="_csrf_token" value="' + canceltoken + '">'
        + '<input type="submit" value="Cancel interest in ' + item['name'] + '">'
        + '</form>';
    cancelbuttons.html(cancelbuttons.html() + form);
    console.log(cancelbuttons.html());
}

function grabMeJobs() {
    url = "{{ path('uf_me_jobs')}}";
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "GET",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $("#playpart").html(JSON.stringify(cont, undefined, 2));
            confurl     = cont['confirm_job']['url'];
            conftoken   = cont['confirm_job']['_csrf_token'];
            signupurl   = cont['signup_shift']['url'];
            signuptoken = cont['signup_shift']['_csrf_token'];
            cancelurl   = cont['delete_interest']['url'];
            canceltoken = cont['delete_interest']['_csrf_token'];
            cont['assigned'].forEach(createConfirmButton);
            cont['opportunities'].forEach(createSignupButton);
            cont['interested'].forEach(createCancelButton);
      }).fail(function(xhr, status, error) {
            errmsg = "Blaeh\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function grabMeProfile() {
    url = "{{ path('uf_me_profile')}}";
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "GET",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $("#playpart").html(JSON.stringify(cont, undefined, 2));
      }).fail(function(xhr, status, error) {
            errmsg = "Blaeh\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function grabJobLog() {
    url = "{{ path('uf_me_joblog')}}";
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "GET",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $("#playpart").html(JSON.stringify(cont, undefined, 2));
      }).fail(function(xhr, status, error) {
            errmsg = "Blaeh\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function grabFileslist() {
    url = "{{ path('uf_me_files')}}";
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "GET",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $("#playpart").html(JSON.stringify(cont, undefined, 2));
      }).fail(function(xhr, status, error) {
            errmsg = "Blaeh\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function grabNotesArchive() {
    url = "{{ path('uf_me_notes', {'archive': true})}}";
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "GET",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $("#playpart").html(JSON.stringify(cont, undefined, 2));
      }).fail(function(xhr, status, error) {
            errmsg = "Blaeh\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function grabMePassword() {
    url = "{{ path('uf_me_password')}}";
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "GET",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            /*$("#playparthtml").html(cont); */
             $("#playpart").html(JSON.stringify(cont, undefined, 2));
      }).fail(function(xhr, status, error) {
            errmsg = "Blaeh\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function hitMe() {
    $this.http.get('https://leke.crewcall.no/uf/me').subscribe(data=> {
        console.log(data);
    });
}
</script>

{% endblock %}
