{% extends 'base.html.twig' %}
{% block title %}{{ role }}{% endblock %}
{% block body %}
    <h1>{{ role }}</h1>

    <table class="showTable">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ role.description }}</td>
            </tr>
            <tr>
              <th>
                <a href="{{ path('role_edit', { 'id': role.id }) }}"  class="btn-sm btn-dark">Edit</a>
                <br>
            {{ form_start(delete_form) }}
                <input class="btn-sm btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
                <td>&nbsp;</td>
              </th>
            </tr>
        </tbody>
    </table>
{% endblock %}
