{% include 'CrewCallBundle:dashboarder:handling.html.twig' %}
{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true, 'title': "Edit Admin Wall" } %}
<div id="admin_wall">
{% set something = false %}
{% for message in sakonnin_messages.messagetype('Admin Wall').messages if message.state == "SHOW" or message.state == "UNREAD" %}
  {% if is_granted('show', message) %}
  {% set something = true %}
  <div id="sakonninmessage_{{ message.id}}">
    {% if message.subject is not empty %}
        <h3>{{ message.subject }}</h3>
    {% endif %}
    <div class="row">
    <pre wrap class="noteText col-sm-10">
    {{ message.body }}
    </pre>
      <div class="col-sm-2" align="right">
        <div class="dropdown">
          <button class="glyphicon glyphicon-menu-hamburger" id='admin_wallactionburger' type="button" data-toggle="dropdown">
          <span></span>
          </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
           <a href="#" onClick="return setStateOnMessage({{ message.id }}, 'ARCHIVED');">Archive</a>
          </li>
          <li>
        <a href="#" onClick='return grabEditMessageForm({{ message.id }});'>Edit</a>
          </li>
<div class="hidden">
{% set mdelform = sakonnin_messages.getCreateDeleteForm(message, true) %}
<form method="POST" action="{{ path('message_delete', { 'id': message.id, 'access': 'web' }) }}">
{{ form_start(mdelform) }}
{{ form_rest(mdelform) }}
<input id="deladminw_{{ message.id }}" type="submit">
</form>
</div>
        <li>
            <a href="#" onClick='return $("#deladminw_{{ message.id }}").click();'>Delete</a>
        </li>
        </ul>
      </div>
     </div>
    </div>
 </div>
 {% endif %}
{% endfor %}
{% if not something %}
    <h3>Admin Wall</h3>
{% endif %}
      {% set mconf = {'mconfig': {
              'formname': 'c_adminwall',
              'reload_after_post': true,
              'subject': "",
              'state': "SHOW",
              'to_type': "NONE",
              'from_type': "NONE",
              'to_field': false,
              'from_field': false,
              'message_type': 'Admin Wall',
              'context': null
              }
          }
      %}
{% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
<a href="#" onClick='return createMessage("c_adminwall");' class="btn btn-sm btn-dark">New</a>
<a href="#" title="Notes" onClick="return openMessageLogBox('{{ path('messages_list', {'sort': 'DESC', 'access': 'ajax', 'states': ['ARCHIVED'], 'message_types':['Admin Wall']  }) }}', 'Archive')">Archive</a>
</div>
