{% include '@CrewCall/dashboarder/handling.html.twig' %}

<h3>Admin Wall</h3>
<div id="admin_wall">
{% for message in sakonnin_messages.messagetype('Admin Wall').messages %}
  {% if (message.state == "SHOW" or message.state == "UNREAD") and is_granted('show', message) %}
   <div id="sakonninmessage_{{ message.id}}">
    <div class="d-none">
        {% set mdelform = sakonnin_messages.getCreateDeleteForm(message, true) %}
        <form id="deletemessageform_{{ message.id }}" onSubmit="return deleteSakonninMessage({{ message.id }});">
        {{ form_rest(mdelform) }}
        <input id="deladminw_{{ message.id }}" type="submit">
        </form>
    </div>
    <div class="row noteText">
     <div class="col-sm-10">
        <h3 id="sakonninmessagesubject_{{ message.id }}">{{ message.subject }}</h3>
        <em>{{ message.createdAt | date('Y-m-d') }} - {{ message.createdBy }}</em>
      </div>
      <div class="col-sm-2" align="right">
        <div class="dropdown">
          <button class="glyphicon glyphicon-menu-hamburger" id='actionburger' type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
           <a class="dropdown-item" href="#" onClick="return setStateOnSakonninMessage({{ message.id }}, 'ARCHIVED');">Archive</a>
           <a class="dropdown-item" href="#" onClick='return grabEditSakonninMessageForm({{ message.id }});'>Edit</a>
            <a class="dropdown-item" href="#" onClick='return $("#deladminw_{{ message.id }}").click();'>Delete</a>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
     </div><!-- col-sm-2 -->
    </div><!-- row -->
    <div class="row noteText">
<pre wrap class="col-sm-10" id="sakonninmessagebody_{{ message.id }}">
{{ message.body }}
</pre>
    </div><!-- row -->
 </div><!-- sakonninmessage_{{ message.id}} -->
 {% endif %}
{% endfor %}
<div class="row">
  <div class="col-10" style="margin-left: 20px; padding: 7px;">
    <a href="#" onClick='return createSakonninMessage("c_adminwall");' class="btn-dash btn-dark">Add an Admin Wall post</a>
  </div>
</div>
      {% set mconf = {'mconfig': {
              'formname': 'c_adminwall',
              'reload_after_post': true,
              'subject': "",
              'state': "SHOW",
              'to_type': "NONE",
              'from_type': "NONE",
              'to_field': false,
              'from_field': false,
              'message_type': 'Admin Wall',
              'context': null
              }
          }
      %}
{% include '@BisonLabSakonnin/Message/_create_popup.html.twig' with mconf %}
</div><!-- admin-wall -->
