{% include 'CrewCallBundle:dashboarder:handling.html.twig' %}
{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true, 'title': "Edit Admin Wall" } %}
<div id="admin_wall">
{% for message in sakonnin_messages.messagetype('Admin Wall').messages if message.state == "SHOW" or message.state == "UNREAD" %}
  {% if is_granted('show', message) %}
  <div id="sakonninmessage_{{ message.id}}">
    {% if message.subject is not empty %}
        <h3>{{ message.subject }}</h3>
    {% endif %}
    <div class="row">
    <pre wrap class="noteText col-sm-10">
    {{ message.body }}
    </pre>
      <div class="col-sm-1">
        <a href="#" onClick="return setStateOnMessage({{ message.id }}, 'ARCHIVED');"><span class="glyphicon glyphicon-save-file"></span></a>
        {% if is_granted('edit', message) %}
        <a href="#" onClick='return grabEditMessageForm({{ message.id }});'><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
      </div>
    </div>
 </div>
 {% endif %}
{% endfor %}
      {% set mconf = {'mconfig': {
              'formname': 'c_adminwall',
              'reload_after_post': true,
              'subject': "",
              'state': "SHOW",
              'to_type': "NONE",
              'from_type': "NONE",
              'to_field': false,
              'from_field': false,
              'message_type': 'Admin Wall',
              'context': null
              }
          }
      %}
{% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
<a href="#" onClick='return createMessage("c_adminwall");' class="btn btn-sm btn-dark">Add another</a>
</div>
