{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true } %}
{% include 'CrewCallBundle:dashboarder:handling.html.twig' %}
<div id="announcements">
<div class="row">
    <div class="col-sm-12">
    <h3>General Announcements</h3>
    </div>
</div>
{% for message in sakonnin_messages.messagetype('Front page logged in').messages if message.state == "SHOW" or message.state == "UNREAD" %}
 {% if is_granted('show', message) %}
<div id="sakonninmessage_{{ message.id}}">
  <div class="row noteText">
{% if is_granted('edit', message) %}
    <div class="col-sm-10">
{% else %}
    <div class="col-sm-12">
{% endif %}
<em>{{ message.createdAt | date('Y-m-d') }} - {{ message.createdBy }}</em>
<pre wrap class="noteText">
{{ message.body }}
</pre>
</div>
{% endif %}

{% if is_granted('edit', message) %}
    <div class="col-sm-2">
        <div class="dropdown">
          <button class="glyphicon glyphicon-menu-hamburger" id='announcementsactionburger' type="button" data-toggle="dropdown">
          <span></span>
          </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
           <a href="#" onClick="return setStateOnMessage({{ message.id }}, 'ARCHIVED');">Archive</a>
          </li>
          <li>
            <a href="#" onClick="return grabEditNoteForm({{ message.id }}, 'General Annoucement', true);">Edit</a>
          </li>
<div class="hidden">
{% set mdelform = sakonnin_messages.getCreateDeleteForm(message, true) %}
<form method="POST" action="{{ path('message_delete', { 'id': message.id, 'access': 'web' }) }}">
{{ form_start(mdelform) }}
{{ form_rest(mdelform) }}
<input id="delannounce_{{ message.id }}" type="submit">
</form>
</div>
        <li>
            <a href="#" onClick='return $("#delannounce_{{ message.id }}").click();'>Delete</a>
        </li>
        </ul>
      </div>
  </div>
  {% endif %}
 </div>
</div>
<div class="row">&nbsp;</div> <!-- Cheating or lazyness? -->
{% endfor %}
</div>
      {% set mconf = {'mconfig': {
              'formname': 'c_anouncements',
              'title': 'General Annoucement',
              'reload_after_post': true,
              'subject': null,
              'state': "SHOW",
              'to_type': "NONE",
              'from_type': "NONE",
              'to_field': false,
              'from_field': false,
              'message_type': 'Front page logged in',
              'context': null
              }
          }
      %}
{% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
<a href="#" onClick='return createMessage("c_anouncements");' class="btn btn-sm btn-dark">New</a>
<a href="#" title="Notes" onClick="return openMessageLogBox('{{ path('messages_list', {'sort': 'DESC', 'access': 'ajax', 'states': ['ARCHIVED'], 'message_types':['Front page logged in']  }) }}', 'Archive')">Archive</a>
