<script>
/* This must be overkill from h*/
function setStateOnMessage(message_id, state) {
    cheat_url = "{{ path('message_state', { 'id': 0, 'state': 'NONE', 'access': 'ajax' }) }}";
    c_url = cheat_url.replace("0", message_id);
    url = c_url.replace("NONE", state);
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        url: url,
        type: "POST",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $('#personnote_' + message_id).hide();
      }).fail(function(xhr, status, error) {
            errmsg = "Failed chaning state\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}
</script>
{% set mlogcontext = {
            'system': 'crewcall',
            'object_name': 'person',
            'message_types': ['PersonNote', 'PM', 'PMSMS'],
            'states': ['UNREAD','SENT'],
            'external_id': app.user.id
    }
%}
<div id="personalmessages">
<h3>Messages to you</h3>
{% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
{% if is_granted('show', note) %}
<div id="personnote_{{ note.id}}">
<strong>{{ note.subject }}</strong>
<pre wrap>
{{ note.body }}
</pre>
<a href="#" onClick="return setStateOnMessage({{ note.id }}, 'ARCHIVED');"><button>Read it!</button></a>
</div>
{% endif %}
{% endfor %}
{% for note in sakonnin_messages.MessagesForUser(app.user, {'state': 'UNREAD'}) %}
<div id="personnote_{{ note.id}}">
<strong>{{ note.subject }}</strong>
<pre wrap>
{{ note.body }}
</pre>
<a href="#" onClick="return setStateOnMessage({{ note.id }}, 'ARCHIVED');"><button>Read it!</button></a>
</div>
{% endfor %}
</div>
