{% include 'CrewCallBundle:dashboarder:handling.html.twig' %}
{% set mlogcontext = {
            'system': 'crewcall',
            'object_name': 'person',
            'message_types': ['PersonNote', 'PM', 'PMSMS'],
            'states': ['UNREAD','SENT'],
            'external_id': app.user.id
    }
%}
<div id="personalmessages">
<h3>Messages to you</h3>
{% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
{% if is_granted('show', note) %}
<div id="sakonninmessage_{{ note.id}}">
<strong>{{ note.subject }}</strong>
<pre wrap class="noteText">
{{ note.body }}
</pre>
<a href="#" onClick="return setStateOnMessage({{ note.id }}, 'ARCHIVED');" class="btn btn-sm btn-success">Read it!</a>
</div>
{% endif %}
{% endfor %}
{% for note in sakonnin_messages.MessagesForUser(app.user, {'state': 'UNREAD'}) %}
<div id="sakonninmessage_{{ note.id}}">
<strong>{{ note.subject }}</strong>
<pre wrap>
{{ note.body }}
</pre>
<a href="#" onClick="return setStateOnMessage({{ note.id }}, 'ARCHIVED');" class="btn btn-sm btn-dark">Read it!</a>
</div>
{% endfor %}
</div>
