{% include 'CrewCallBundle:dashboarder:handling.html.twig' %}
{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true } %}
<h3>Todo</h3>
<div id="todo">
{% set criterias = {
    'message_types': ['TODO'],
    'states': ['UNREAD', 'UNCHECKED', 'CHECKED', 'SHOW'],
    }
%}
{% for message in sakonnin_messages.messages(criterias) %}
  {% if is_granted('show', message) %}
<div id="sakonninmessage_{{ message.id}}">
  <div class="noteText row">
    {% if message.subject is not empty %}
        <strong>{{ message.subject }}</strong>
    {% endif %}
        <em>{{ message.createdAt | date('Y-m-d') }} - {{ message.createdBy }}</em>
  </div>

<div class="noteText row">

<div class="col-md-9">
<pre wrap class="noteText">
{{ message.body }}
</pre>
</div>

<div class="col-md-3" align="center">
    {% set checked = false %}
    {% set last_reply = message.replies | last %}
    {% if last_reply %}
        {% if last_reply.state == "CHECKED" %}
            {% set checked = true %}
        {% else %}
            {% set checked = false %}
        {% endif %}
    {% endif %}

    <label class="checkSwitch">
      <input type="checkbox" id="todocheck_{{ message.id }}" onChange="setCheckboxState('{{ message.messageid }}', 'TODO', this)" {% if checked %}checked{% endif %}/>
    {% if checked %}
        <span class="checkSlider round" title="{{ last_reply.createdAt | date('Y-m-d H:i') }} - {{ last_reply.createdBy }}"></span>
        </label>
        <em style="font-size: 70%;">
        {{ last_reply.createdAt | date('Y-m-d H:i') }}
        {{ last_reply.createdBy }}
        </em>
    {% else %}
        <span class="checkSlider round" title="Todo"></span>
        </label>
    {% endif %}
{% if is_granted('edit', message) %}
    {% set emform = sakonnin_messages.getEditForm( message, true ) %}
    {% set action = path('message_edit', { 'id': message.id, 'access': 'ajax' }) %}
        <div class="dropdown">
          <button class="glyphicon glyphicon-menu-hamburger" id='todoactionburger' type="button" data-toggle="dropdown">
          <span></span>
          </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
           <a href="#" onClick="return setStateOnMessage({{ message.id }}, 'ARCHIVED');">Archive</a>
          </li>
          <li>
            <a href="#" onClick='return grabEditMessageForm({{ message.id }});'>Edit</a>
<div class="hidden">
{% set mdelform = sakonnin_messages.getCreateDeleteForm(message, true) %}
<form id="deletemessageform_{{ message.id }}" onSubmit="return deleteMessage({{ message.id }});">
{{ form_start(mdelform) }}
{{ form_rest(mdelform) }}
<input id="deltodo{{ message.id }}" type="submit">
</form>
</div>
        <li>
            <a href="#" onClick='return $("#deltodo{{ message.id }}").click();'>Delete</a>
        </li>
        </ul>
      </div>
{% endif %}
    </div>
  </div>
 {% endif %}
<div class="row">&nbsp;</div> <!-- Cheating or lazyness? -->
{% endfor %}
</div>

    {% set mconf = {'mconfig': {
            'formname': 'todocheck',
            'reload_after_post': true,
            'message_type': 'TODO',
            'submit': 'Save'
            }
        }
    %}
{% include 'BisonLabSakonninBundle:Message:_create_check.html.twig' with mconf %}
<a href="#" onClick='return createCheck("todocheck");' class="btn btn-sm btn-dark">New</a>
<a href="#" title="Notes" onClick="return openMessageLogBox('{{ path('messages_list', {'sort': 'DESC', 'access': 'ajax', 'states': ['ARCHIVED'], 'message_types':['TODO']  }) }}', 'Archive')">Archive</a>
</div>
