{% extends 'base.html.twig' %}

{% block body %}
{% set upcoming = cc_jobs.jobsforperson(user, {'booked_upcoming': true}) %}
{% if upcoming|length > 0 %}
    <h2>Upcoming Jobs</h2>

        <table class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
                <th>What</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
        {% for job in upcoming %}
            {% set shift = job.shift %}
            <tr>
                <td>{{ shift.event }}</td>
                <td data-order="{{ shift.start | date('U')}}" >{% if shift.start %}{{ shift.start|date('d M H:i') }}{% endif %}</td>
                <td data-order="{{ shift.end | date('U')}}" >{% if shift.end %}{{ shift.end|date('d M H:i') }}{% endif %}</td>
                <td>{{ shift.function }}</td>
                <td>{{ job.state }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% set wishlist = cc_jobs.jobsforperson(user, {'wishlist': true}) %}
{% if wishlist|length > 0 %}
    <h2>Wishlist</h2>

        <table class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
                <th>What</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for job in wishlist %}
            {% set shift = job.shift %}
            <tr>
                <td>{{ shift.event }}</td>
                <td data-order="{{ shift.start | date('U')}}" >{% if shift.start %}{{ shift.start|date('d M H:i') }}{% endif %}</td>
                <td data-order="{{ shift.end | date('U')}}" >{% if shift.end %}{{ shift.end|date('d M H:i') }}{% endif %}</td>
                <td>{{ shift.function }}</td>
                <td>
                    <form method="POST" action="{{ path('user_delete_interest', {'id': job.id }) }}">
                    <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% set opportunities = cc_jobs.opportunitiesforperson(user) %}
{% if opportunities|length > 0 %}
    <h2>Opportunities</h2>

<script>
jQuery(document).ready(function() {
    $( "#opportunitiesTable" ).dataTable({
        "order": [[ 2, "asc" ]],
        "paging": false,
        "searching": false
        });
    return false;
});
</script>
        <table id="opportunitiesTable" class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
                <th>What</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {# Better make this a service function or something, for listing opportunities with already registerted interest filtered out #}
        {% for shift in opportunities %}
            <tr>
                <td>{{ shift.event }}</td>
                <td data-order="{{ shift.start | date('U')}}" >{% if shift.start %}{{ shift.start|date('d M H:i') }}{% endif %}</td>
                <td data-order="{{ shift.end | date('U')}}" >{% if shift.end %}{{ shift.end|date('d M H:i') }}{% endif %}</td>
                <td>{{ shift.function }}</td>
                <td>
                    <form method="POST" action="{{ path('user_register_interest', {'id': shift.id }) }}">
                    <button type="submit" class="btn btn-success">I want it!</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
