<table id="shiftFunctionTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Function</th>
            <th>Amount Needed</th>
            <th>Amount Booked</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for shiftFunction in shiftFunctions %}
        <tr>
            <td><a href="{{ path('function_show', { 'id': shiftFunction.function.id }) }}">{{ shiftFunction.function.name }}</a></td>
            <td>{{ shiftFunction.amount }}</td>
            <td>{{ shiftFunction.booked }}</td>
            <td>
              <a href="{{ path('shiftfunction_show', { 'id': shiftFunction.id }) }}">show</a>
              <a href="{{ path('shiftfunction_edit', { 'id': shiftFunction.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
