{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiftfunction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shiftFunction.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ shiftFunction.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shiftfunction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shiftfunction_edit', { 'id': shiftFunction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
