{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
    <div class="col-sm-6">
    <h1>Organizations</h1>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1" style="margin-top: 10px;">
    <a href="{{ path('organization_new') }}" class="btn btn-sm btn-dark">New Organization</a>
    </div>
    </div>

        <table id="sortable_table" class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Office phone</th>
                <th>Office email</th>
                <th>Status</th>
                <th>People</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': organization.id }) }}">{{ organization.name }}</a></td>
                <td>{{ organization.officephonenumber }}</td>
                <td>{{ organization.officeemail }}</td>
                <td>{{ organization.statelabel }}</td>
                <td>{{ organization.personfunctionorganizations.count }}</td>
                <td>
                 <a href="{{ path('organization_show', { 'id': organization.id }) }}">show</a>
                 <a href="{{ path('organization_edit', { 'id': organization.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
