{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organizations list</h1>

    <p><a href="{{ path('organization_new') }}"><button class="btn btn-primary">Create a new organization</button></a></p>

        <table id="sortable_table" class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Office phone</th>
                <th>Office email</th>
                <th>State</th>
                <th>People</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': organization.id }) }}">{{ organization.name }}</a></td>
                <td>{{ organization.officephonenumber }}</td>
                <td>{{ organization.officeemail }}</td>
                <td>{{ organization.state }}</td>
                <td>{{ organization.personfunctionorganizations.count }}</td>
                <td>
                 <a href="{{ path('organization_show', { 'id': organization.id }) }}">show</a>
                 <a href="{{ path('organization_edit', { 'id': organization.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
