{% extends 'base.html.twig' %}

{% block body %}
{% include 'CrewCallBundle:organization:handling.html.twig' %}
<div class="col-sm-3" id="orgLeft">
    <h1>{{ organization.name }}</h1>

    <table class="showTable">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ organization.name }}</td>
            </tr>
            <tr>
                <th>Organization number</th>
                <td>{{ organization.organizationnumber }}</td>
            </tr>
            <tr>
                <th>Office phone number</th>
                <td>{{ organization.officephonenumber }}</td>
            </tr>
            <tr>
                <th>Office email</th>
                <td>{{ organization.officeemail }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cc_addressing.compose(organization.visitaddress, 'html') | raw }}</td>
            </tr>
            <tr>
                <th>Postal Address</th>
                <td>{{ cc_addressing.compose(organization.postaladdress, 'html') | raw }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ organization.state }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
           <a href="#" id="popLogSummary_organization_{{ organization.id }}" data-toggle="popover" data-html="true" onClick="popLogSummary('organization', {{ organization.id }});"><button>Changes</button></a><br>
        </li>
        <li>
            <a href="{{ path('organization_edit', { 'id': organization.id }) }}"><button>Edit</button></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>

<div class="col-sm-9" id="eventRight">
  <ul class="nav nav-tabs">

  <li class="active">
  <a href="#eventstab" data-toggle="tab">Events</a>
  </li>
{#
  <li>
  <a href="#caltab" data-toggle="tab">Calendar</a>
  </li>
#}
  <li>
  <a href="#peopletab" data-toggle="tab">People</a>
  </li>
  <li>
  <a href="#notestab" data-toggle="tab">Notes</a>
  </li>
  <li>
  <a href="#filestab" data-toggle="tab">Files</a>
  </li>
  </ul>

<div class="tab-content ">

    <div class="tab-pane active" id="eventstab">
    {% include 'CrewCallBundle:event:_index.html.twig' with { 'events': organization.events('ASC'), 'sorted': true, 'past': true } %}
    </div>

    <div class="tab-pane" id="peopletab">
      <div id="addExistingPerson" style="float: left">
      <a href="#" class="noscrolla" onClick="grabAddExistingPersonForm();"><button>Add person</button></a><br>
      </div>
    
      <table id="apTable" class="table  table-sm">
      <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Function</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for pfo in organization.personfunctionorganizations %}
        <tr>
        <td>
            <a href="{{ path('person_show', { 'id': pfo.person.id }) }}">
            {{ pfo.person }}
            </a>
        </td>
        <td>{{ pfo.person.email }}</td>
        <td>{{ pfo.person.mobilephonenumber }}</td>
        <td>{{ pfo.function }}</td>
        <td>
            <a role="button" class="btn-sm btn-danger" href="{{ path('organization_remove_person', { 'id': pfo.id }) }}">Remove</a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>

   <div class="tab-pane" id="notestab">
            {% set mconf = { 'mconfig': {
                    'formname': 'organizationnote',
                    'reload_after_post': true,
                    'subject': "",
                    'to_field': false,
                    'from_field': false,
                    'message_type': 'AdminNote',
                    'context': {
                        'system': 'crewcall',
                        'object_name': 'organization',
                        'external_id': organization.id
                        }
                    }
                }
            %}
            {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
            <p><br>
            <a href="#" class="noscrolla" onClick='createMessage("organizationnote");'>Add a note</a><br />
            </p>
            {% set mlogcontext = {
                        'system': 'crewcall',
                        'object_name': 'organization',
                        'message_type': 'Notes',
                        'external_id': organization.id
                }
            %}
            {% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
                <strong>{{ note.subject }}</strong><br>
                <pre>{{ note.body }}</pre>
                <br>
            {% endfor %}
    </div>

    <div class="tab-pane" id="filestab">
        {% set sfconf = {'sfconfig': {
                'file_type': "AUTO",
                'context': {
                    'system': 'crewcall',
                    'object_name': 'organization',
                    'external_id': organization.id
                    }
                }
            }
        %}
        {% include 'BisonLabSakonninBundle:SakonninFile:_create_popup.html.twig' with sfconf %}
        <p><br>
          <a href="#" class="noscrolla" onClick="uploadFile(); return false;">Add a file</a><br />
        </p>
        {% set filecontext = {
                'system': 'crewcall',
                'object_name': 'organization',
                'external_id': organization.id
            }
        %}
        {% include 'CrewCallBundle::_files.html.twig' with filecontext %}
    </div>
  </div>
</div>

{% endblock %}
