{% extends 'base.html.twig' %}
{% block title %}Functions{% endblock %}

{% block body %}

    <div class="row">
    <div class="col-sm-6">
{% if function_type_plural is defined %}
    <h1>{{ function_type_plural }}</h1>
{% else %}
    <h1>Functions / Roles</h1>
{% endif %}

    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1" style="margin-top: 10px;">
{% if function_type is defined %}
    <a href="{{ path('function_new', {'function_type': function_type}) }}" class="btn btn-sm btn-dark">New {{ function_type_label }}</a>
{% else %}
    <a href="{{ path('function_new') }}" class="btn btn-sm btn-dark">New Function</a>
{% endif %}
    </div>
    </div>

        <table id="sortable_table" class="table table-striped  table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Descriptions</th>
                <th>Status</th>
                <th>People</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for functionEntity in functionEntities if function_type is not defined or functionEntity.functiontype == function_type %}
        <td><a href="{{ path('function_show', { 'id': functionEntity.id }) }}">{{ functionEntity.name }}</a></td>
        <td>{{ functionEntity.description }}</td>
        <td>{{ functionEntity.statelabel }}</td>
        <td>
        {% for state, amount in functionEntity.countpeople({ 'by_state': true }) %}
        {{ state }}: {{ amount }}<br/>
        {% endfor %}
        </td>
        <td>
            <a href="{{ path('function_show', { 'id': functionEntity.id }) }}">show</a> - 
            <a href="{{ path('function_edit', { 'id': functionEntity.id }) }}">edit</a> - 
            <a href="{{ path('person_function', { 'function_id': functionEntity.id }) }}">people</a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
