{% extends 'base.html.twig' %}
{% block title %}Functions{% endblock %}

{# Todo: make this one recursive so it'll show function -> function and so on #}
{% macro function_row (functionEntity) %}
    <tr>
        <td><a href="{{ path('function_show', { 'id': functionEntity.id }) }}">{{ functionEntity.name }}</a></td>
        {% if functionEntity.parent %}
        <td >{{ functionEntity.parent.name }}</td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
        <td>{{ functionEntity.description }}</td>
        <td>{{ functionEntity.state }}</td>
        <td>
        {% for state, amount in functionEntity.countpeople({ 'by_state': true }) %}
        {{ state }}: {{ amount }}<br/>
        {% endfor %}
        </td>
        <td>
            <a href="{{ path('function_show', { 'id': functionEntity.id }) }}">show</a> - 
            <a href="{{ path('function_edit', { 'id': functionEntity.id }) }}">edit</a> - 
            <a href="{{ path('person_function', { 'id': functionEntity.id }) }}">people</a>
        </td>
    </tr>
{% endmacro %}
{% import _self as fmacros %}

{% block body %}
    <h1>Functions</h1>

        <table id="sortable_table" class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Group (Parent function)</th>
                <th>Description</th>
                <th>State</th>
                <th>People</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# This was an attempt at nesting, but it was thwarted by table sorting. Gonna keep it for now, in case of good ideas. #}
        {% for functionEntity in functionEntities %}
            {{ fmacros.function_row(functionEntity) }}
            {# I'll take it for granted that a group has children
        {% for functionEntity in functionEntities if functionEntity.parent is null %}
            {% if functionEntity.children.count > 0 %}
                <tr>
                <td><strong>{{ functionEntity.name }}</strong></td>
                <td>{{ functionEntity.description }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
                {% for child in functionEntity.children  %}
                    {{ fmacros.function_row(child) }}
                {% endfor %}
            {% else %}
                {{ fmacros.function_row(functionEntity) }}
            {% endif %}
            #}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('function_new') }}">Create a new Function</a>
        </li>
    </ul>
{% endblock %}
