<style>

table {
    width:100%;
}

th, td {
  padding-top: 10px;
  text-align: left;
  font-size: 10px;
}

h4 {
  padding-bottom: 5px;
  font-size: 20px;
}

</style>

<h1>{{ event }} {{ event.start | date("d.M.y") }}</h1>
<table id="printEventTable" class="printable-table">

{% for shift in event.shifts if shift.jobs | length > 0%}
<thead>
  <tr>
    <td colspan="4">
    <h4>{{ shift.function.name }} {{ shift.start | date("H.i") }} -> {{ shift.end | date("H.i") }}</h4>
    </td>
  </tr>
  <tr>
    <th class="epName">Name</th>
{% if all or Mobile is defined %}
    <th class="epMobile">Mobile</th>
{% endif %}
{% if all or Diets is defined %}
    <th class="epDiets">Diets</th>
{% endif %}
{% if all or Comments is defined %}
    <th class="epComments">Comments</th>
{% endif %}
{% if all or Checks is defined %}
    <th class="epChecks">Checks</th>
{% endif %}
{% if all or Hours1 is defined %}
    <th class="epHours1">Hours 1</th>
{% endif %}
{% if all or Hours2 is defined %}
    <th class="epHours2">Hours 2</th>
{% endif %}
  </tr>
</thead>

<tbody>
  {% for job in shift.jobs if state is empty or job.state == state %} 
    <tr>
        <td nowrap="nowrap" class="epName">{{ job.person.name }}</td>
{% if all or Mobile is defined %}
        <td nowrap="nowrap" class="epMobile">{{ job.person.mobilephonenumber }}</td>
{% endif %}
{% if all or Diets is defined %}
        <td nowrap="nowrap" class="epDiets">{{ job.person.dietslabels | join(", ")}}</td>
{% endif %}
{% if all or Comments is defined %}
{% set jobcommcontext = {
        'message_types': ['JobComment'],
        'order': 'DESC',
        'system': 'crewcall',
        'object_name': 'job',
        'external_id': job.id
}
%}
        <td nowrap="nowrap" class="epComments">
{% for note in sakonnin_messages.MessagesForContext(jobcommcontext) %}
{{ note.body }}
{% endfor %}
        </td>
{% endif %}
{% if all or Checks is defined %}
{% set jobinfocontext = {
        'message_types': ['InformCheck'],
        'order': 'DESC',
        'system': 'crewcall',
        'object_name': 'job',
        'external_id': job.id
}
%}
        <td nowrap="nowrap" class="epChecks">
{% for note in sakonnin_messages.MessagesForContext(jobinfocontext) %}
{{ note.body }}
{% endfor %}
        </td>
{% endif %}
{% if all or Hours1 is defined %}
        <td nowrap="nowrap" class="epHours1">
            In: <input type="text" size="5"/>
            Out: <input type="text" size="5"/>
            Break: <input type="text" size="5"/>
        </td>
{% endif %}
{% if all or Hours2 is defined %}
        <td nowrap="nowrap" class="epHours2">
            In: <input type="text" size="5"/>
            Out: <input type="text" size="5"/>
        </td>
{% endif %}
    </tr>
  {% endfor %}
  </tbody>

{% endfor %}
</table>
