<div class="row"> 
  <div class="col-sm-4"> 
    <table class="showTable">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
{% if event.organization is not null %}
            <tr>
                <th>Organization</th>
                <td>
                    <a href="{{ path('organization_show', { 'id': event.organization.id }) }}">{{ event.organization.name }}</a>
                </td>
            </tr>
{% endif %}
{% if event.location is not null %}
            <tr>
                <th>Location</th>
                <td>
                    <a href="{{ path('location_show', { 'id': event.location.id }) }}">{{ event.location.name }}</a>
                </td>
            </tr>
{% endif %}
            <tr>
                <th>Contacts</th>
                <td>
{% for pfe in event.personfunctionevents() %}
   {{ pfe.person }}{% if pfe.person.mobilephonenumber %} - {{ pfe.person.mobilephonenumber }}{% endif %}
   <a role="button" class="btn-sm btn-danger" href="{{ path('event_remove_contact', { 'id': pfe.id }) }}">Remove</a>
<br />
{% endfor %}
{% if add_contact_form is not null %}
    <a href="#" id="addContactLink" onClick="return openAddContact({{ event.id }});">Add</a>
{% endif %}
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="col-sm-4"> 
      <ul class="nav nav-tabs">
      <li class="active">
      <a href="#notestab_{{ event.id }}" data-toggle="tab">Notes / Checks</a>
      </li>
      <li>
      <a href="#filestab_{{ event.id }}" data-toggle="tab">Files</a>
      </li>
      </ul>

      <div class="tab-content ">

      <div class="tab-pane active" id="notestab_{{ event.id }}">
        <br>
        <p>
        {% set mconf = {'mconfig': {
                'formname': 'eventconfirmnote_' ~ event.id,
                'reload_after_post': true,
                'subject': "",
                'to_type': "NONE",
                'from_type': "NONE",
                'message_type': 'ConfirmNote',
                'submit': 'Save',
                'context': {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
                    }
                }
            }
        %}
        {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
        <a href="#" onClick='return createMessage("eventconfirmnote_{{ event.id }}");'>Add a must confirm note</a><br />
        {% set mconf = {'mconfig': {
                'formname': 'eventconfirmcheck_' ~ event.id,
                'reload_after_post': true,
                'message_type': 'ConfirmCheck',
                'submit': 'Save',
                'context': {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
                    }
                }
            }
        %}
        {% include 'BisonLabSakonninBundle:Message:_create_check.html.twig' with mconf %}
        <a href="#" onClick='return createCheck("eventconfirmcheck_{{ event.id }}");'>Add a must confirm checkbox</a><br />
        {% set mconf = {'mconfig': {
                'formname': 'eventinformheck_' ~ event.id,
                'reload_after_post': true,
                'message_type': 'InformCheck',
                'submit': 'Save',
                'context': {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
                    }
                }
            }
        %}
        {% include 'BisonLabSakonninBundle:Message:_create_check.html.twig' with mconf %}
        <a href="#" onClick='return createCheck("eventinformheck_{{ event.id }}");'>Add an information checkbox</a><br />
        </p>
        <p>
        {% set mlogcontext = {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'message_group': 'Notes',
                    'external_id': event.id
            }
        %}
        {% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
            <strong>{{ note.subject }}</strong> ({{ note.messagetype }} by {{ note.createdBy }} at {{ note.createdAt | date('Y-m-d') }})
            <pre>{{ note.body }}</pre>
            {% set mdelform = sakonnin_messages.getCreateDeleteForm(note, true) %}
            <form method="POST" action="{{ path('message_delete', { 'id': note.id, 'access': 'web' }) }}">
            {{ form_start(mdelform) }}
            {{ form_rest(mdelform) }}
            <input class="dabatdbutton" type="submit" name="submit" value="Delete">
            </form>
            <br>
        {% endfor %}
        <p><br>
        {% set mlogcontext = {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'message_types': ['ConfirmCheck', 'InformCheck'],
                    'external_id': event.id
            }
        %}
        {% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
            {{ note.messagetype }} by {{ note.createdBy }} at {{ note.createdAt | date('Y-m-d') }}
            <ul>
            <li>{{ note.body }}</li>
            </ul>
            {% set mdelform = sakonnin_messages.getCreateDeleteForm(note, true) %}
            <form method="POST" action="{{ path('message_delete', { 'id': note.id, 'access': 'web' }) }}">
            {{ form_start(mdelform) }}
            {{ form_rest(mdelform) }}
            <input class="dabatdbutton" type="submit" name="submit" value="Delete">
            </form>
            <br>
        {% endfor %}
      </div>

      <div class="tab-pane" id="filestab_{{ event.id }}">
        {% set sfconf = {'sfconfig': {
                'formname': 'eventfiles_' ~ event.id,
                'reload_after_post': true,
                'context': {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
                    }
                }
            }
        %}
        {% include 'BisonLabSakonninBundle:SakonninFile:_create_popup.html.twig' with sfconf %}
            <p>
            <br>
              <a href="#" onClick="return uploadFile('eventfiles_{{ event.id }}'); return false;">Add a document or image</a><br />
            </p>
        {% set filecontext = {
                    'system': 'crewcall',
                    'object_name': 'event',
                    'external_id': event.id
            }
        %}
        {% include 'CrewCallBundle::_files.html.twig' with filecontext %}
      </div>
  </div>

  </div>
  <div class="col-sm-4" align="right"> 
    <ul>
    {% if event.shifts | length > 0 %}
            {% set last_shift = event.shifts | last %}
            <a href="#" onClick="return grabNewShiftForm({{ event.id }}, {{ last_shift.id }});">Add shift</a>
    {% else %}
            <a href="#" onClick="return grabNewShiftForm({{ event.id }});">Add shift</a>
    {% endif %}
        <li><a href="#" onClick="return openPrintEventWindow({{ event.id }});">Print</a></li>
        <li><a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a></li>
        <li><a href="#" id="popLogSummary_event_{{ event.id }}" data-toggle="popover" data-html="true" onClick="return popLogSummary('event', {{ event.id }});"> Changelog </a></li>
    {% if not event.done %}
        <li><a href="#" onClick="return submitStateForm({{ event.id}}, 'CONFIRMED');">
        {% if event.open and event.shifts | length > 0 %}
            Open all shifts
        {% elseif not event.open and event.booked %}
            Reopen event and all shifts
        {% else %}
            Confirm and open event and all shifts
        {% endif %}
        </a></li>
       {% if event.open %}
        <li><a href="#" onClick="return submitStateForm({{ event.id }}, 'READY');">Set Ready and close all shifts</span></a></li>
       {% endif %}
    {% endif %}

    {% if not event.booked %}
        <li>
        <li><a href="#" onClick="return submitDeleteForm({{ event.id}});">
        Delete
        </a>
        </li>
    {% endif %}

    </ul>

   </div> <!-- col-sm-2 -->
</div> <!-- / row -->

<div id="shiftList_{{ event.id}}">
  {% include 'CrewCallBundle:shift:_index.html.twig' with { 'event': event}  %}
</div>
