{% extends 'base.html.twig' %}

{% block body %}
<script>
$(document).ready(function()
    {
    $("#crewcallbundle_event_start_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $('#crewcallbundle_event_start_date').datetimepicker({
        format: "Y-m-d",
        timepicker: false,
        datepicker: true,
    });
    $('#crewcallbundle_event_start').datetimepicker({
        format: "H:i",
        timepicker: true,
        datepicker: false,
        step:5
    });
    $("#crewcallbundle_event_end_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $('#crewcallbundle_event_end_date').datetimepicker({
        format: "Y-m-d",
        timepicker: false,
        datepicker: true,
    });
    $('#crewcallbundle_event_end').datetimepicker({
        format: "H:i",
        timepicker: true,
        datepicker: false,
        step:5
    });
});
</script>

    <h1>Event edit</h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
