<script>
function openAddContact() {
    $( "#add_contact_popover_content" ).removeClass("hidden");
}

function grabEvents(what) {
    url = "{{ path('event_index', {'access': 'ajax' }) }}" 
        + "?" + what +"=true";
    if (what == "past") {
        search = true;
    } else {
        search = false;
    }
    $.get(url, function( data ) {
        $( "#" + what + "content" ).html(data);
    }).done(function() {
        $( "#" + what + "table").dataTable({
            "order": [[ 1, "asc" ]],
            "paging": false,
            "searching": search
            });
    });
    return false;
}

function submitDeleteForm(event_id) {
    if (!confirm("Are you sure you want to delete")) {
        return false;
    }
    deleteEventFormData = $( "#deleteEventForm" ).serialize();
    url = "{{ path('event_delete', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', event_id);
    $.ajax({
        type: "DELETE",
        url: url,
        data: deleteEventFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "Delete failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function submitConfirmForm(event_id) {
    confirmEventFormData = $( "#confirmEventForm" ).serialize();
    url = "{{ path('event_confirm', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', event_id);
    $.ajax({
        type: "POST",
        url: url,
        data: confirmEventFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "Confirm failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}
</script>

<div class="hidden">
<form id="confirmEventForm" method="POST">
{{ form_widget(confirm_form) }}
{{ form_end(confirm_form) }}
<form id="deleteEventForm" method="DELETE">
{{ form_widget(delete_form) }}
{{ form_end(delete_form) }}
</div>
