<script>
function openAddContact(event_id) {
    $( "#addContactModal" ).modal();

    /* Yet another way to do this. Gotta standardize some day. */
    $( "#addContactForm" ).submit(function( event ) {
        event.preventDefault();
        parent.location.reload();
        url = "{{ path('event_add_contact', {'access': 'ajax', 'id': "XXX" }) }}".replace("XXX", event_id);
        addContactFormData = $( "#addContactForm" ).serialize();
        $.ajax({
            type: "POST",
            url: url,
            data: addContactFormData,
            dataType: "text",
            async: true,
          }).done( function( cont, textStatus, xhr ) {
                parent.location.reload();
          }).fail(function(xhr, status, error) {
                errmsg = "Adding contact failed\n";
                errmsg = errmsg + xhr.responseText + "\n";
                alert(errmsg);
        });
        return false;
    });
    return false;
}

function grabEvents(what) {
    url = "{{ path('event_index', {'access': 'ajax' }) }}" 
        + "?" + what +"=true";
    if (what == "past") {
        search = true;
    } else {
        search = false;
    }
    $.get(url, function( data ) {
        $( "#" + what + "content" ).html(data);
    }).done(function() {
        $( "#" + what + "table").dataTable({
            "order": [[ 1, "asc" ]],
            "paging": false,
            "searching": search
            });
    });
    return false;
}

function submitDeleteForm(event_id) {
    if (!confirm("Are you sure you want to delete")) {
        return false;
    }
    deleteEventFormData = $( "#deleteEventForm" ).serialize();
    url = "{{ path('event_delete', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', event_id);
    $.ajax({
        type: "DELETE",
        url: url,
        data: deleteEventFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "Delete failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function submitStateForm(event_id, state) {
    stateEventFormData = $( "#stateEventForm" ).serialize();
    url = "{{ path('event_state', { 'access': 'ajax', 'state': 'STATE', 'id': 'XXX' }) }}";
    url = url.replace('XXX', event_id);
    url = url.replace('STATE', state);
    $.ajax({
        type: "POST",
        url: url,
        data: stateEventFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "It failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function openPrintEventWindow(event_id)
{
    url = "{{ path('event_show', { 'id': "XXX", 'printable': true }) }}";
    url = url.replace('XXX', event_id);
    w = popmeup(url);
    return false;
}

function checkChecked(classname)
{
    if ( $( "#epcheck_" + classname ).is(":checked") ) {
        $( ".ep" + classname ).show();
    } else {
        $( ".ep" + classname ).hide();
    }
    return false;
}

function printTableContent()
{
    // This may be a bit specific for my designs,
    document.body.style.paddingTop = "0px";
    $("#unprintableContent").hide();
    window.print();
    document.body.style.paddingTop = "";
    $("#unprintableContent").show();
}
</script>

{% if state_form is defined %}
    <div class="hidden">
    <form id="stateEventForm" method="POST">
    {{ form_widget(state_form) }}
    {{ form_end(state_form) }}
    <form id="deleteEventForm" method="DELETE">
    {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}
    </div>
{% endif %}
