<script>

/*
 * Yeah, and shift.
 */
function openMessageToEventModal(object, object_id) {
    content = $("#eventmessage_modal").html();
    $( "#eventModalTitle" ).html('Send Message');
    $( "#eventModalBody" ).html(content);
    $( "#eventModal" ).modal();
    if (object == "event") {
        url = "{{ path('event_send_message', {'access': 'ajax', 'id': "XXX" }) }}".replace("XXX", object_id);
        fselect = $( "#function_select_" + object_id ).html();
        $( "#eventMessageFormSelect" ).append(fselect);
    }
    if (object == "shift") {
        url = "{{ path('shift_send_message', {'access': 'ajax', 'id': "XXX" }) }}".replace("XXX", object_id);
    }

    $("#eventMessageForm").submit(function( event ) {
        postdata = $("#eventMessageForm").serialize();
        $.ajax({
            type: "POST",
            data: postdata,
            url: url,
            success: function(data)
            {
                alert(data);
                $( "#eventModal" ).modal("hide");
                $( "#eventModalTitle" ).html("");
                $( "#eventModalBody" ).html("");
            }
        });
        event.preventDefault();
    });
    return false;
}

function openAddContactInfo(event_id) {

    /* Yet another way to do this. Gotta standardize some day. */
    $( "#addContactInfoForm" ).submit(function( event ) {
        event.preventDefault();
        parent.location.reload();
        url = "{{ path('event_add_contact', {'access': 'ajax', 'id': "XXX" }) }}".replace("XXX", event_id);
        addContactFormData = $( "#addContactForm" ).serialize();
        $.ajax({
            type: "POST",
            url: url,
            data: addContactFormData,
            dataType: "text",
            async: true,
          }).done( function( cont, textStatus, xhr ) {
                parent.location.reload();
          }).fail(function(xhr, status, error) {
                errmsg = "Adding contact failed\n";
                errmsg = errmsg + xhr.responseText + "\n";
                alert(errmsg);
        });
        return false;
    });
    return false;
}

function grabEvents(what) {
    url = "{{ path('event_index', {'access': 'ajax' }) }}" 
        + "?" + what +"=true";
    if (what == "past") {
        search = true;
    } else {
        search = false;
    }
    $.get(url, function( data ) {
        $( "#" + what + "content" ).html(data);
    }).done(function() {
        $( "#" + what + "table").dataTable({
            "paging": false,
            "searching": search
            });
    });
    return false;
}

function submitDeleteForm(event_id) {
    if (!confirm("Are you sure you want to delete")) {
        return false;
    }
    deleteEventFormData = $( "#deleteEventForm" ).serialize();
    url = "{{ path('event_delete', { 'access': 'ajax', 'id': 'XXX' }) }}";
    url = url.replace('XXX', event_id);
    $.ajax({
        type: "DELETE",
        url: url,
        data: deleteEventFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "Delete failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function submitStateForm(event_id, state) {
    stateEventFormData = $( "#stateEventForm" ).serialize();
    url = "{{ path('event_state', { 'access': 'ajax', 'state': 'STATE', 'id': 'XXX' }) }}";
    url = url.replace('XXX', event_id);
    url = url.replace('STATE', state);
    $.ajax({
        type: "POST",
        url: url,
        data: stateEventFormData,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            parent.location.reload();
      }).fail(function(xhr, status, error) {
            errmsg = "It failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

function openPrintEventWindow(event_id, state = null)
{
    url = "{{ path('event_show', { 'id': "XXX", 'printable': true }) }}";
    url = url.replace('XXX', event_id);
    
    if (state != null) {
        url = url + "&state=" + state;
    }
    w = popmeup(url);
    return false;
}

function checkChecked(classname)
{
    if ( $( "#epcheck_" + classname ).is(":checked") ) {
        $( ".ep" + classname ).show();
    } else {
        $( ".ep" + classname ).hide();
    }
}

function printTableContent()
{
    // This may be a bit specific for my designs,
    document.body.style.paddingTop = "0px";
    $("#unprintableContent").hide();
    window.print();
    document.body.style.paddingTop = "";
    $("#unprintableContent").show();
}

function openAddContactInfo(event_id) {

    url = "{{ path('event_pick_contact_info', {'access': 'ajax', 'id': "XXX" }) }}".replace("XXX", event_id);

    $.get(url, function( content ) {
        $( "#eventModalTitle" ).html('Add Contact Info');
        $( "#eventModalBody" ).html(content);
        $( "#eventModal" ).modal();
    });

    return false;
}
</script>

<div class="modal fade" id="eventModal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="eventModalCloseButton" type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title" id="eventModalTitle"></h4>
      </div>
      <div class="modal-body" id="eventModalBody">
      </div>
    </div>
  </div>
</div> <!-- / modal -->

<div id="eventmessage_modal" class="hidden">
    <form name="eventmessage_form" id="eventMessageForm" method="POST">
      <div class="row">
       <div class="col-sm-6">
        <textarea id="eventMessageFormBody" name="body" cols="30" rows="6"></textarea><br>
       </div>
       <div class="col-sm-3">
        <input type="checkbox" name="states[]" value="CONFIRMED" checked>Confirmed</input><br>
        <input type="checkbox" name="states[]" value="ASSSIGNED">Assigned</input><br>
        <input type="checkbox" name="states[]" value="INTERESTED">Interested</input><br>
        <input type="checkbox" name="states[]" value="all">All</input><br>
        <div id="eventMessageFormSelect"></div>
       </div>
       <div class="col-sm-3">
            <input type="radio" value="BULKSMS" name="message_type" CHECKED>SMS only</input><br>
            <input type="radio" value="BULKALL" name="message_type">SMS and  Email</input>
        <input class="btn btn-sm btn-dark" id="evsendmessage" type="submit" name="submit" value="Send">
       </div>
      </div>
    </form>
</div>

{% if state_form is defined %}
    <div class="hidden">
    <form id="stateEventForm" method="POST">
    {{ form_widget(state_form) }}
    {{ form_end(state_form) }}
    <form id="deleteEventForm" method="DELETE">
    {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}
    </div>
{% endif %}
