{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <p><a href="{{ path('event_new') }}"><button class="btn btn-primary">Create a new event</button></a></p>

    <table id="sortable_table" class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>Main Event</th>
                <th>Location</th>
                <th>Start</th>
                <th>End</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                <a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.mainevent }}</a>
                {% for child in event.children %}
                    <br> * <a href="{{ path('event_show', { 'id': child.id }) }}">{{ child.name }}</a>
                {% endfor %}
                </td>
                <td>{{ event.location }}</td>
                <td data-order="{{ event.start | date('U')}}" >{% if event.start %}{{ event.start|date('Y-m-d H:i') }}{% endif %}</td>
                <td data-order="{{ event.end | date('U')}}" >{% if event.end %}{{ event.end|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ event.state }}</td>
                <td>
                <a href="{{ path('event_show', { 'id': event.id }) }}">show</a><br>
                <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
