{% extends 'base.html.twig' %}

{% block title %}{% if clone is defined %}Clone Event{% else %}New Event{% endif %} {% endblock %}
{% block body %}
<script>
$(document).ready(function() {

{#
    $("#crewcallbundle_event_start_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $("#crewcallbundle_event_end_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
#}
{% if clone is defined %}
    $("#crewcallbundle_event_end").hide();
    $("#crewcallbundle_event_end").prev().hide();
{% endif %}
});
</script>
{% if clone is defined %}

    <h1>Make a copy of {{ clone }}</h1>
    <form method="POST" action="{{ path('event_clone', { 'event': clone.id }) }}">
{% else %}
{% if event.parent %}
    <h1>Add subevent to {{ event.parent }}</h1>
{% else %}
    <h1>New Event</h1>
{% endif %}

    {{ form_start(form) }}
{% endif %}
        {{ form_widget(form) }}
        <input class="btn-sm btn-dark" type="submit" value="Create"/>
    {{ form_end(form) }}
    <a href="{{ path('event_index') }}" class="btn-sm btn-dark">Cancel</a>
{% endblock %}
