{% extends 'popup_base.html.twig' %}

{% block body %}
{% include 'CrewCallBundle:event:handling.html.twig' %}
<div id="unprintableContent">

{{ form_start(mailform) }}
<div class="row">
    <div class="col-md-5">
        {% for val in ['Mobile', 'Diets', 'Checks', 'Comments', 'Hours1', 'Hours2'] %}
        <input name="fields[{{val}}]" id="epcheck_{{ val }}" type="checkbox" onClick='return checkChecked("{{ val }}");' checked>{{ val }}</input>
        {% endfor %}
        <a href="#" onClick="return printTableContent();" class="btn btn-sm btn-dark" id="printbutton">Print</a>
    </div>
    <div class="col-md-2">
        Send as mail to:
    </div>
    <div class="col-md-2">
        {{ form_widget(mailform.email) }}
    </div>
    <div class="col-md-2">
        <button class="btn btn-sm btn-dark" type="submit">Send</button>
    </div>
</div>
{{ form_end(mailform) }}


</div>
<div class="printableContent">
{% include 'CrewCallBundle:event:_printable.html.twig' %}
</div>

{% endblock %}
