{% extends 'base.html.twig' %}

{% block body %}
{% include 'CrewCallBundle:event:handling.html.twig' %}
{% include 'CrewCallBundle:shift:handling.html.twig' %}
{% include 'CrewCallBundle:job:handling.html.twig' %}
{% include 'CrewCallBundle:joblog:handling.html.twig' %}
{% include 'CrewCallBundle:shiftorganization:handling.html.twig' %}

<div class="row">
  <div class="col-sm-6">
    {% if event.parent %}
        <h1>
        <a href="{{ path('event_show', {'id': event.parent.id}) }}">{{ event.parent }}</a> -> {{ event.name }}
        </h1>
    {% else %}
        <h1>{{ event.name }}</h1>
    {% endif %}
  </div>
  <div class="col-sm-6" align="right">
    {% if not event.parent %}
        <a href="{{ path('event_new', {'parent': event.id}) }}" class="btn btn-sm btn-dark">New sub event</a>
        <a href="{{ path('event_clone', {'event': event.id}) }}" class="btn btn-sm btn-dark">Create a copy with new start date</a>
    {% endif %}
  </div>
</div> <!-- / row -->

{# No need to do accordion if there is no sub events #}
{#
{% if event.children | length == 0 %}
#}
    <table class="showTable">
        <tbody>
            <tr>
                <th>Start</th>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    {{ event.statelabel }}
                    {% if event.state == "READY" %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% elseif event.open and event.shifts | length > 0 %}
                        <a href="#" onClick="return submitStateForm({{ event.id }}, 'READY');">Set Ready and close all shifts</span></a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        </table>
        {% include 'CrewCallBundle:event:_sub_event.html.twig' with { 'event': event}  %}
{#
{% else %}
    <div class="panel-group" id="eventaccordion" role="tablist" aria-multiselectable="true">
        {% include 'CrewCallBundle:event:_accordion.html.twig' with { 'event': event}  %}
#}

        {% for child in event.children %}
            {% include 'CrewCallBundle:event:_accordion.html.twig' with { 'event': child}  %}
        {% endfor %}
    </div>
{#
{% endif %}
#}

{% if add_contact_form is not null %}
<div class="modal fade" id="addContactModal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Add contact</h4>
      </div>
      <div class="modal-body" id="addContactModalBody">
        <div id="add_contact_popover_content">
            {{ form_start(add_contact_form, { 'action': path('event_add_contact', {'id': "XXX" }), 'attr': {'id':'addContactForm'}}) }}
            {{ form_widget(add_contact_form) }}
            <input type="hidden" name="username" id="username">
            <input id="submitAddExistingPerson" type="submit" value="Add" />
            {{ form_end(add_contact_form) }}
        </div>
      </div>
    </div>
  </div>
</div> <!-- / modal -->
{% endif %}

{% endblock %}
