{% extends 'base.html.twig' %}

{% block body %}

<div class="col-sm-4" id="eventLeft">
    <h1>{{ event }}</h1>

    <table class="showTable">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
{% if event.location is not null %}
            <tr>
                <th>Location</th>
                <td>{{ event.location.name }}</td>
            </tr>
{% endif %}
            <tr>
                <th>Start</th>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ event.state }}</td>
            </tr>
{% if event.children.count > 0 %}
            <tr>
                <th>Sub events</th>
                <td>
{% for child in event.children %}
                    <a href="{{ path('event_show', { 'id': child.id }) }}">{{ child.name }}</a><br>
{% endfor %}
                </td>
            </tr>
{% endif %}
        </tbody>
    </table>

    <ul>
{% if event.parent %}
        <li>
          <a href="{{ path('event_show', { 'id': event.parent.id }) }}">Back to {{ event.parent.name }}</a><br>
        </li>
{% endif %}
{% if confirm_form is not null %}
        <li>
            {{ form_start(confirm_form) }}
{% if event.booked  %}
                <input class="btn btn-success" type="submit" value="Confirm all shifts">
{% else %}
                <input class="btn btn-success" type="submit" value="Confirm event and shifts">
{% endif %}
            {{ form_end(confirm_form) }}
        </li>
{% endif %}
        <li>
            <a href="{{ path('event_log', { 'id': event.id }) }}">History</a>
        </li>
        <li>
            <a href="{{ path('event_index') }}">Back to Events</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('event_new', {'parent': event.id}) }}">Create a sub event</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>

<div class="col-sm-8" id="eventRight">
  <ul class="nav nav-tabs">
  <li class="active">
  <a href="#shiftstab" data-toggle="tab">Shifts</a>
  </li>
  <li>
  <a href="#caltab" data-toggle="tab">Calendar</a>
  </li>
  <li>
  <a href="#notestab" data-toggle="tab">Notes</a>
  </li>
  <li>
  <a href="#filestab" data-toggle="tab">Files</a>
  </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="shiftstab">
    {% include 'CrewCallBundle:shift:handling.html.twig' with { 'event': event}  %}
    </div>

  <!-- TODO: Make this click-loadable as with the functab -->
  <div class="tab-pane" id="caltab">
    <p>Nothing yet, will come abruptly.</p>
  </div>

  <div class="tab-pane" id="notestab">
    {% set mconf = {'mconfig': {
            'subject': "",
            'to_field': false,
            'from_field': false,
            'message_type': 'AdminNote',
            'context': {
                'system': 'crewcall',
                'object_name': 'event',
                'external_id': event.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
    <p><br>
    <a href="#" onClick="createMessage()">Add a note</a><br />
    </p>
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'event',
                'message_type': 'Notes',
                'external_id': event.id
        }
    %}
    {% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
        <strong>{{ note.subject }}</strong><br>
        <pre>{{ note.body }}</pre>
        <br>
    {% endfor %}
  </div>

  <div class="tab-pane" id="filestab">
    {% set sfconf = {'sfconfig': {
            'context': {
                'system': 'crewcall',
                'object_name': 'event',
                'external_id': event.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:SakonninFile:_create_popup.html.twig' with sfconf %}
        <p>
        <br>
          <a href="#" onClick="uploadFile(); return false;">Add a document or image</a><br />
        </p>
    {% set filecontext = {
                'system': 'crewcall',
                'object_name': 'event',
                'external_id': event.id
        }
    %}
    {% include 'CrewCallBundle::_files.html.twig' with filecontext %}
  </div>
</div>

{% endblock %}
