{% extends 'base.html.twig' %}

{% block body %}
{% include 'CrewCallBundle:event:handling.html.twig' %}
{% include 'CrewCallBundle:shift:handling.html.twig' %}
{% include 'CrewCallBundle:job:handling.html.twig' %}
{% include 'CrewCallBundle:shiftorganization:handling.html.twig' %}

{# No need to do accordion if there is no sub events #}
{% if event.children | length == 0 %}
    {% if event.parent %}
        <h1>
        <a href="{{ path('event_show', {'id': event.parent.id}) }}">{{ event.parent }}</a> -> {{ event.name }}
        </h1>
    {% else %}
        <h1>{{ event.name }}</h1>
    {% endif %}
    <table class="showTable">
        <tbody>
            <tr>
                <th>Start</th>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ event.statelabel }}</td>
            </tr>
        </tbody>
        </table>
        {% include 'CrewCallBundle:event:_sub_event.html.twig' with { 'event': event}  %}
{% else %}
    <div class="panel-group" id="eventaccordion" role="tablist" aria-multiselectable="true">
        <div id="event_shift_list_{{ event.id }}">
         <div class="panel panel-default">

          <div class="panel-heading" role="tab" id="heading{{ event.id }}">
           <h4 class="panel-title">
            <a class="accordion-toggle {% if event.state == "READY" %}collapsed{% endif %}" role="button" data-toggle="collapse" data-parent="#eventaccordion" href="#eventacc_{{ event.id }}" aria-expanded="{% if event.state == "READY" %}false{% else %}true{% endif %}" aria-controls="eventacc_{{ event.id }}">
               {{ event.name }}
            </a>
           </h4>
            {{ event.start|date('d M H:i') }}
            <span class="glyphicon glyphicon-arrow-right"></span> 
            {%  if event.end | date('Y-m-d') == event.start | date('Y-m-d') %}
            {{ event.end|date('H:i') }}
            {% else %}
                {{ event.end | date('d M H:i') }}
            {% endif %}
            <div class="state">
                {{ event.statelabel }}
            </div>
          </div> <!-- / panel-heading -->
          <div id="eventacc_{{ event.id }}" class="panel-collapse collapse {% if event.state != "READY" %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ event.id }}">
            <div class="panel-body">
            {% include 'CrewCallBundle:event:_sub_event.html.twig' with { 'event': event}  %}
           </div>
          </div>
         </div> <!-- / Panel -->
        </div> <!-- / event_shift -->

        {% for child in event.children %}
            <div id="event_shift_list_{{ event.id }}">
             <div class="panel panel-default">

              <div class="panel-heading" role="tab" id="heading{{ child.id }}">
               <h4 class="panel-title">
                <a class="accordion-toggle {% if child.state == "READY" %}collapsed{% endif %}" role="button" data-toggle="collapse" data-parent="#childaccordion" href="#childacc_{{ child.id }}" aria-expanded="{% if child.state == "READY" %}false{% else %}true{% endif %}" aria-controls="childacc_{{ child.id }}">
                   {{ child.name }}
                </a>
               </h4>
                {{ child.start|date('d M H:i') }}
                <span class="glyphicon glyphicon-arrow-right"></span> 
                {%  if child.end | date('Y-m-d') == child.start | date('Y-m-d') %}
                {{ child.end|date('H:i') }}
                {% else %}
                    {{ child.end | date('d M H:i') }}
                {% endif %}
                <div class="state">
                    {{ event.statelabel }}
                </div>
              </div> <!-- / panel-heading -->

              <div id="childacc_{{ child.id }}" class="panel-collapse collapse {% if child.state != "READY" %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ child.id }}">
                <div class="panel-body">
        {% include 'CrewCallBundle:event:_sub_event.html.twig' with { 'event': child}  %}
           </div>
          </div>
         </div> <!-- / Panel -->
        </div> <!-- / event_shift -->
        {% endfor %}

    </div>
{% endif %}

{% endblock %}
