{% include 'CrewCallBundle:shiftfunction:handling.html.twig' %}
<table id="shiftTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for shift in shifts %}
        <tr>
            <td data-order="{{ shift.fromtime | date('U')}}" >{% if shift.fromtime %}{{ shift.fromtime|date('d M H:i') }}{% endif %}</td>
            <td data-order="{{ shift.totime | date('U')}}" >{% if shift.totime %}{{ shift.totime|date('d M H:i') }}{% endif %}</td>
            <td>
            {{ shift.totalbooked }} of {{ shift.totalneeded }} <a href="#" onClick="grabShiftFunctionList({{ shift.id }});">List</a>
            </td>
            <td>
            {{ shift.state }}
            </td>
            <td>
                <a href="{{ path('shift_show', { 'id': shift.id }) }}">Show</a>
                <a href="#" onClick="grabEditShiftForm({{ shift.id }});">Edit</a>
                <a href="#" onClick="grabShiftFunctionList({{ shift.id }});">Functions</a><br>
                <a href="#" onClick="grabShiftFunctionList({{ shift.id }}); grabNewShiftFunctionForm({{shift.id}});">Add Function</a>
            </td>
        </tr>
        <tr class="sfList" id="sfList_{{ shift.id }}">
        <td colspan="5">
        <div id="newShiftFunction_{{ shift.id }}" style="float: left">
        <a href="#" onClick="grabNewShiftFunctionForm({{shift.id}});">Add Function</a>
        </div>
        <div style="float: right">
        <a href="#" onClick="hideShiftFunctionList({{shift.id}});">X</a>
        </div>
        <div id="sfTable_{{ shift.id }}">
        </div>
        <div id="editShiftFunction_{{ shift.id }}">
        </div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
