{% include 'CrewCallBundle:job:handling.html.twig' %}
{% include 'CrewCallBundle:shiftorganization:handling.html.twig' %}
<table id="shiftTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>What</th>
            <th>Amount</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for shift in shifts %}
        <tr>
            <td data-order="{{ shift.start | date('U')}}" >{% if shift.start %}{{ shift.start|date('d M H:i') }}{% endif %}</td>
            <td data-order="{{ shift.end | date('U')}}" >{% if shift.end %}{{ shift.end|date('d M H:i') }}{% endif %}</td>
            <td>
            {{ shift.function }}<br>
            at {{ shift.event.name }}
            <a href="#" id="popSummary_event_{{ shift.event.id }}" data-toggle="popover" data-html="true" onClick="popSummary('event', {{ shift.event.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
            </td>
            <td>
            Want: {{ shift.amount }} </br>
            Have: {{ shift.registeredamount }} </br>
            Booked: {{ shift.bookedamount }}
            {% if shift.registeredamount > 0 %}
            <br><a href="#" onClick="grabJobList({{ shift.id }});">List</a>
            {% endif %}
            </td>
            <td>
            <form action="{{ path('shift_state', { 'id': shift.id }) }}" method="POST">
            <input type="hidden" name="event" value="{{ event.id }}">
            <select name="state" id="state_change">
            {% for state, idx in statechoices %}
                {% if shift.state == state %}
                <option value="{{ idx }}" selected>{{ state }}</options>
                {% else %}
                <option value="{{ idx }}">{{ state }}</options>
                {% endif %}
            {% endfor %}
            </select>
            <input type="submit" value="Change" />
            </form>
            </td>
            <td>
              <a href="#" onClick="grabJobList({{ shift.id }});">Jobs</a><br>
              <a href="#" onClick="grabEditShiftForm({{ shift.id }});">Edit</a><br>
              <a href="#" onClick="grabJobList({{ shift.id }}); grabNewJobForm({{shift.id}});">Add person</a><br>
              <a href="#" onClick="grabJobList({{ shift.id }}); grabNewShiftOrganizationForm({{shift.id}});">Add crew from an organization</a><br>
    {% set mlogcontext = {
                'system': 'crewcall',
                'object_name': 'shift',
                'external_id': shift.id
        }
    %}
    {% if sakonnin_messages.contexthasmessages(mlogcontext) %}
             <a href="#" onClick="openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a><br>
    {% endif %}
    {% set mconf = {'mconfig': {
            'formname': 'shiftnote_' ~ shift.id,
            'reload_after_post': true,
            'subject': "",
            'to_field': false,
            'from_field': false,
            'message_type': 'Notes',
            'context': {
                'system': 'crewcall',
                'object_name': 'shift',
                'external_id': shift.id
                }
            }
        }
    %}
    {% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
            <a href="#" onClick='createMessage("shiftnote_{{ shift.id }}");'>Add a note</a><br />
              <a href="#" id="popLogSummary_shift_{{ shift.id }}" data-toggle="popover" data-html="true" onClick="popLogSummary('shift', {{ shift.id }});">
                Edit History
              </a><br>
              <a href="#" onClick="deleteShift({{ shift.id }});">Delete</a><br>
            </td>
        </tr>
        <tr class="jobList" id="jobList_{{ shift.id }}">
        <td colspan="6">
        <div style="float: right">
        <a href="#" onClick="hideJobList({{ shift.id }});">X</a>
        </div>
        <br>
        <div id="jobTable_{{ shift.id }}">
        </div>
        <div id="editShift_{{ shift.id }}" style="float: left">
        </div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
