<table id="shiftTable" class="table table-striped table-sm">
<tbody>
{% for shift in event.shifts %}
{% set mlogcontext = {
            'system': 'crewcall',
            'object_name': 'shift',
            'external_id': shift.id
    }
%}
    <tr>
        <td data-order="{{ shift.start | date('U')}}" >
            {{ shift.start|date('d M H:i') }}
            <span class="glyphicon glyphicon-arrow-right"></span> 
            {%  if shift.end | date('Y-m-d') == shift.start | date('Y-m-d') %}
            {{ shift.end|date('H:i') }}
            {% else %}
                {{ shift.end | date('d M H:i') }}
            {% endif %}
        <td>
{% if sakonnin_messages.contexthasmessages(mlogcontext) %}
        <a href="#" title="Notes" onClick="return openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')"><span style="font-size: 15px" class="glyphicon glyphicon-comment"></span></a>
{% endif %}
        <a href="#" title="Event Summary" id="popSummary_event_{{ shift.event.id }}{{ shift.id }}" onClick="return popSummary('event', {{ shift.event.id }}, {{ shift.id }});"><span style="font-size: 15px" class="glyphicon glyphicon-info-sign"></span></a>
        {{ shift.function }}
        </td>
        <td align="right">
        <label class="ccSwitch">
          <input title="Open or close the shift for registration" type="checkbox" id="shiftstatecheck_{{ shift.id }}" onChange="setStateOnShiftCheckbox({{ shift.id }}, {{ shift.event.id }}, this)" {% if shift.open %}checked{% endif %}/>
          <span class="ccSlider round" title="Open or close the shift"></span>
        </label>
        </td>
        <td align="left">
          <div id="openclose_{{ shift.id }}">{% if shift.open %}Open for registration{% else %}Closed for registration{% endif %}</div>
        </td>
        <td align="right">
        {% set amounts = shift.jobsamountbystate %}
        <span title="Fully Booked" class="glyphicon glyphicon-ok {% if shift.amount - amounts.CONFIRMED != 0 %}hidden{% endif %}"></span>
            <span title="Total needed" class="ccAmount ccTotal">{{ shift.amount }}</span>
        <span title="Still needing" class="ccAmount ccNeeded">{{ shift.amount - shift.bookedamount }}</span>
        <span  title="Amount Confirmed" class="ccAmount ccConfirmed">{{ amounts.CONFIRMED }}</span>
        <span title="Amount Assigned" class="ccAmount ccAssigned">{{ amounts.ASSIGNED }}</span>
        <span title="Amount Interested" class="ccAmount ccInterested">{{ amounts.INTERESTED }}</span>
        </td>
        <td align="right">
        {% if shift.registeredamount > 0 %}
        {# TODO: Toggle + and - #}
        <a href="#" onClick="return grabJobList({{ shift.id }});"><span id="plus_job_list_{{ shift.id }}" class="glyphicon glyphicon-plus" /></a>
        <a href="#" onClick="return hideJobList({{ shift.id }});"><span id="minus_job_list_{{ shift.id }}" class="collapse glyphicon glyphicon-minus" /></a>
        {% else %}
            &nbsp;
        {% endif %}
        </td>
        <td align="right">
        <div class="dropdown">
          <button class="glyphicon glyphicon-menu-hamburger" id='actionburger' type="button" data-toggle="dropdown">
          <span></span>
          </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="#" onClick="return openMessageToEventModal('shift', {{ shift.id }});">Send a message</a>
          </li>
          <li>
            <a href="#" onClick="return grabNewJobForm({{shift.id}});">Add person</a>
          </li>
          <li>
            <a href="#" onClick="return grabNewShiftOrganizationForm({{shift.id}});">Add crew from an organization</a>
          </li>
{% if sakonnin_messages.contexthasmessages(mlogcontext) %}
         <li><a href="#" onClick="return openMessageLogBox('{{ path('message_context_search', {'access': 'ajax', 'system': mlogcontext.system, 'object_name': mlogcontext.object_name, 'external_id': mlogcontext.external_id }) }}')">Notes</a></li>
{% endif %}
        <li>
            <a href="#" onClick='return createMessage("shiftnote_{{ shift.id }}");'>Add a note</a>
        </li>
        <li>
            <a href="#" onClick='return createMessage("shiftconfirmnote_{{ shift.id }}");'>Add a confirm note</a>
        </li>
        <li>
            <a href="#" onClick='return createCheck("shiftinformcheck_{{ shift.id }}");'>Add an information checkbox</a>
        </li>
        <li>
            <a href="#" onClick='return createCheck("shiftconfirmcheck_{{ shift.id }}");'>Add a confirm checkbox</a>
        </li>

        <li>
            <a href="#" title="Log Summary" id="popLogSummary_shift_{{ shift.id }}" onClick="return popLogSummary('shift', {{ shift.id }});">Changelog</a>
       </li>
        <li>
            <a href="#" onClick="return grabEditShiftForm({{ shift.id }}, {{ shift.event.id }});">Edit</a>
        </li>
        <li>
            <a href="#" onClick="return deleteShift({{ shift.id }});">Delete</a>
        </li>
      </ul>
      </div>
     </td>
    </tr>
    <tr class="jobList" id="jobList_{{ shift.id }}">
    <td colspan="6">
    <div id="jobTable_{{ shift.id }}">
    </div>
    </td>
    </tr>
{% set mconf = {'mconfig': {
        'formname': 'shiftnote_' ~ shift.id,
        'reload_after_post': true,
        'subject': "",
        'to_field': false,
        'from_field': false,
        'to_type': "NONE",
        'from_type': "NONE",
        'message_type': 'Note',
        'submit': 'Save',
        'context': {
            'system': 'crewcall',
            'object_name': 'shift',
            'external_id': shift.id
            }
        }
    }
%}
{% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
{% set mconf = {'mconfig': {
        'formname': 'shiftconfirmnote_' ~ shift.id,
        'reload_after_post': true,
        'subject': "",
        'to_field': false,
        'from_field': false,
        'to_type': "NONE",
        'from_type': "NONE",
        'message_type': 'ConfirmNote',
        'submit': 'Save',
        'context': {
            'system': 'crewcall',
            'object_name': 'shift',
            'external_id': shift.id
            }
        }
    }
%}
{% include 'BisonLabSakonninBundle:Message:_create_popup.html.twig' with mconf %}
{% set mconf = {'mconfig': {
        'formname': 'shiftconfirmcheck_' ~ shift.id,
        'reload_after_post': true,
        'message_type': 'ConfirmCheck',
        'submit': 'Save',
        'context': {
            'system': 'crewcall',
            'object_name': 'shift',
            'external_id': shift.id
            }
        }
    }
%}
{% include 'BisonLabSakonninBundle:Message:_create_check.html.twig' with mconf %}
{% set mconf = {'mconfig': {
        'formname': 'shiftinformcheck_' ~ shift.id,
        'reload_after_post': true,
        'message_type': 'InformCheck',
        'submit': 'Save',
        'context': {
            'system': 'crewcall',
            'object_name': 'shift',
            'external_id': shift.id
            }
        }
    }
%}
{% include 'BisonLabSakonninBundle:Message:_create_check.html.twig' with mconf %}
{% endfor %}
</tbody>
</table>
