{% include 'CrewCallBundle:job:handling.html.twig' %}
{% include 'CrewCallBundle:shiftorganization:handling.html.twig' %}
<table id="shiftTable" class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Function</th>
            <th>Amount</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for shift in shifts %}
        <tr>
            <td data-order="{{ shift.start | date('U')}}" >{% if shift.start %}{{ shift.start|date('d M H:i') }}{% endif %}</td>
            <td data-order="{{ shift.end | date('U')}}" >{% if shift.end %}{{ shift.end|date('d M H:i') }}{% endif %}</td>
            <td>
            {{ shift.function }}
            </td>
            <td>
            Want: {{ shift.amount }} </br>
            Have: {{ shift.registeredamount }} </br>
            Booked: {{ shift.bookedamount }}
            {% if shift.registeredamount > 0 %}
            <br><a href="#" onClick="grabJobList({{ shift.id }});">List</a>
            {% endif %}
            </td>
            <td>
            {{ shift.state }}
            </td>
            <td>
{# Until someone asks for a pure shift view, (The one there is is ugly.)
                <a href="{{ path('shift_show', { 'id': shift.id }) }}">Show</a>
#}
              <a href="#" onClick="grabJobList({{ shift.id }});">Jobs</a><br>
              <a href="#" onClick="grabEditShiftForm({{ shift.id }});">Edit</a><br>
              <a href="#" onClick="grabJobList({{ shift.id }}); grabNewJobForm({{shift.id}});">Add Person</a><br>
              <a href="#" onClick="grabJobList({{ shift.id }}); grabNewShiftOrganizationForm({{shift.id}});">Add crew from an organization</a><br>
              <a href="#" onClick="deleteShift({{ shift.id }});">Delete</a><br>
            </td>
        </tr>
        <tr class="jobList" id="jobList_{{ shift.id }}">
        <td colspan="6">
        <div id="newJob{{ shift.id }}" style="float: left">
        <a href="#" onClick="grabNewJobForm({{shift.id}});">Add Person</a>
        </div>
        <div style="float: right">
        <a href="#" onClick="hideJobList({{ shift.id }});">X</a>
        </div>
        <br>
        <div id="newShiftOrganization_{{ shift.id }}" style="float: left">
        <a href="#" onClick="grabNewShiftOrganizationForm({{ shift.id }});">Add crew from an organization</a>
        </div>
        <div id="jobTable_{{ shift.id }}">
        </div>
        <div id="editShift_{{ shift.id }}">
        </div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
